.login_i{
	width:100px;
}
body{
	margin:0px;
	padding:0px;
}
.login fieldset{
	border:0px;
	margin:0px;
	padding:0px;
}
.login fieldset legend{
	display:none;
}
.login th{
	font-weight:normal;
	text-align:left;
}