html,body {
	margin: 5px 5px 1em;
	padding: 0;
	color: #000;
}

body,body * {
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	font-family: Tahoma, Helvetica, sans-serif;
	font-size: 1em;
}
body{
	font-size: 0.75em;
}

p.note{
	padding: 10px;
    background-color: #FFECEC;
    border: 1px solid #FFC0C0;
}
a{
	color: #4B8BD6;
}
a:hover{
	color: #23458B;
}
a.top{
	font-size: 0.8em;
}
div{
	border-top: 1px solid #D0D0D0;
	padding-top: 5px;
}

#links{
	padding: 0;
	border-width: 0!important;
	margin: 1em 0;
}
	#links a{
		display: block;
		margin: 5px 0 0 1em;
	}

h2{
	color: #23458B;
	font-size: 1.2em;
	margin: 2.5em 0 0.5em;
	padding: 0;
}
table{
	margin: 10px 0;
}
table caption{
	color: #23458B;
    text-align: left;
    margin-top: 15px;
}

ul{
	margin: 0.5em 0;
	padding-bottom: 5px;
	padding-left: 1em;
	_padding-left: 1.5em;
}
li{
	margin: 0 0 7px 11px;
}