.contactImage
{
	border:#fff 2px solid;
	margin:10px;
}

/* titulky */
.titulek
{	
	padding:0px;
	width:122px;
	font-weight:bold;
	font-family:Arial;
	font-size:12px;
	background-color:#222;
	border:#ccc 1px solid;	
	text-decoration:none;
	color:#eee;
	text-align: justify;
	z-index:1000;
	background: #235892 url(../../../../basic/skin/default/css/images/menu/bg-context-menu.jpg) repeat-x scroll 0 0;
	opacity: 0.8;
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;	
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}	

.titulek div
{
	padding:2px;	
}

.titulek div.ttlTop
{
	font-weight:bold; margin-bottom:3px;	
	background:#747474 url(../../../../basic/skin/default/css/images/menu/bg-context-menu-item.jpg) repeat-x scroll 0 0;
}

.titulek li
{	
	list-style-position: inside;
}

#contact_select fieldset{
	border:0px;
}
/*/titulky*/