div.grid
{
	margin-right:2px;
	margin-top:2px;
}

.main
{
	background-color:#fff;
}

.main_tree
{
	/*background-color: #fff;*/
}

.obj_datagrid2
{
	background-color: #fff;
	border:#ddd 1px solid;
}

.mailItSelf
{
	padding:10px;
}

.mailHeader
{
	text-align:left;
	border-bottom:#ddd 1px solid;
	padding:0px;/* 10px;*/
	background-color: #eee;
	font-weight:normal;
}

.right
{
	float:right;
}

.mailView
{
	width:100%;
}

.main_tree,.blank_footer {	
	border:none;
}

#mailFrame
{
	height:450px;
}

/**/
input.fancyInput
{	
	background-image: url(bg_input.gif);
	background-repeat: repeat-x;
	font-family:tahoma,helvetica,sans-serif;
	font-size:10px;
	height:15px;
	padding:2px 5px 0px 5px;
	border:#aaa 1px solid;
}

input.fancyButton
{
	background-image: url(bg_button.gif);
	background-repeat: repeat-x;
	font-family:tahoma,helvetica,sans-serif;
	font-size:11px;
	font-weight:bold;
	height:20px;
	padding:1px 5px 2px 5px;
	border:#aaa 1px solid;
	cursor:pointer;
}

input.fancyButton:hover
{
	background-image: url(bg_button_hover.gif);
}
/**/