* text=auto !eol
/.npmignore -text
/config.admin.js -text
/config.webclient.js -text
css/guest.css -text
css/main.css -text
css/meeting.css -text
css/meeting.video.css -text
css/mobile.css -text
css/pda.css -text
fonts/lucida/lucida-grande-1361501376-webfont.eot -text
fonts/lucida/lucida-grande-1361501376-webfont.svg -text
fonts/lucida/lucida-grande-1361501376-webfont.ttf -text
fonts/lucida/lucida-grande-1361501376-webfont.woff -text
fonts/roboto/Roboto-Bold.woff -text
fonts/roboto/Roboto-Bold.woff2 -text
fonts/roboto/Roboto-Medium.woff -text
fonts/roboto/Roboto-Medium.woff2 -text
fonts/roboto/Roboto-Regular.woff -text
fonts/roboto/Roboto-Regular.woff2 -text
images/automatic_emails.png -text
images/footer-logo.png -text
images/icon--bang.png -text
images/icon--error.png -text
images/icon--facebook.png -text
images/icon--linkedin.png -text
images/icon--twitter.png -text
images/login_logo.png -text
images/meeting_info.png -text
images/new/phone_select.png -text
images/video_loader.gif -text
/index.php -text
language/ar/data.xml -text
language/ar/name.dat -text
language/ar/whatsnew.xml -text
language/bg/data.xml -text
language/bg/name.dat -text
language/bg/whatsnew.xml -text
language/cs/about/index.html -text
language/cs/data.xml -text
language/cs/help/index.html -text
language/cs/name.dat -text
language/cs/whatsnew.xml -text
language/de/about/index.html -text
language/de/data.xml -text
language/de/help/index.html -text
language/de/name.dat -text
language/de/whatsnew.xml -text
language/dk/data.xml -text
language/dk/name.dat -text
language/dk/whatsnew.xml -text
language/el/data.xml -text
language/el/name.dat -text
language/el/whatsnew.xml -text
language/en/about/index.html -text
language/en/data.xml -text
language/en/fonts.xml -text
language/en/help/index.html -text
language/en/lang.xml -text
language/en/name.dat -text
language/en/whatsnew.xml -text
language/es/data.xml -text
language/es/name.dat -text
language/es/whatsnew.xml -text
language/fa/whatsnew.xml -text
language/fi/about/index.html -text
language/fi/data.xml -text
language/fi/help/index.html -text
language/fi/name.dat -text
language/fi/whatsnew.xml -text
language/fr/about/index.html -text
language/fr/data.xml -text
language/fr/help/index.html -text
language/fr/name.dat -text
language/fr/whatsnew.xml -text
language/hr/data.xml -text
language/hr/name.dat -text
language/hr/whatsnew.xml -text
language/hu/about/index.html -text
language/hu/data.xml -text
language/hu/help/index.html -text
language/hu/name.dat -text
language/hu/whatsnew.xml -text
language/is/data.xml -text
language/is/name.dat -text
language/is/whatsnew.xml -text
language/it/about/index.html -text
language/it/data.xml -text
language/it/help/index.html -text
language/it/name.dat -text
language/it/whatsnew.xml -text
language/jp/data.xml -text
language/jp/name.dat -text
language/jp/whatsnew.xml -text
language/ko/whatsnew.xml -text
language/kr/about/index.html -text
language/kr/data.xml -text
language/kr/help/index.html -text
language/kr/name.dat -text
language/kr/whatsnew.xml -text
language/la/data.xml -text
language/la/name.dat -text
language/la/whatsnew.xml -text
language/lv/data.xml -text
language/lv/name.dat -text
language/lv/whatsnew.xml -text
language/nl/data.xml -text
language/nl/name.dat -text
language/nl/whatsnew.xml -text
language/no/data.xml -text
language/no/name.dat -text
language/no/whatsnew.xml -text
language/pl/about/index.html -text
language/pl/data.xml -text
language/pl/help/index.html -text
language/pl/name.dat -text
language/pl/whatsnew.xml -text
language/pt/about/index.html -text
language/pt/data.xml -text
language/pt/help/index.html -text
language/pt/name.dat -text
language/pt/whatsnew.xml -text
language/ru/about/index.html -text
language/ru/data.xml -text
language/ru/help/index.html -text
language/ru/name.dat -text
language/ru/whatsnew.xml -text
language/se/about/index.html -text
language/se/data.xml -text
language/se/help/index.html -text
language/se/name.dat -text
language/se/whatsnew.xml -text
language/sk/about/index.html -text
language/sk/data.xml -text
language/sk/help/index.html -text
language/sk/name.dat -text
language/sk/whatsnew.xml -text
language/th/data.xml -text
language/th/name.dat -text
language/th/whatsnew.xml -text
language/tr/data.xml -text
language/tr/help/index.html -text
language/tr/name.dat -text
language/tr/whatsnew.xml -text
/package.json -text
scripts/advanced.js -text
scripts/debug.js -text
scripts/functions.js -text
scripts/guest.js -text
scripts/i18n.js -text
scripts/icewarp-jssip-1.0.js -text
scripts/jquery.cookies.js -text
scripts/jquery.js -text
scripts/keyboard.js -text
scripts/login_mobile.js -text
scripts/main.js -text
scripts/meeting/meeting.chat.js -text
scripts/meeting/meeting.chat.webrtc.js -text
scripts/meeting/meeting.console.js -text
scripts/meeting/meeting.console.webrtc.js -text
scripts/meeting/meeting.core.js -text
scripts/meeting/meeting.core.webrtc.js -text
scripts/meeting/meeting.js -text
scripts/meeting/meeting.main.webrtc.js -text
scripts/meeting/meeting.mikogo.js -text
scripts/meeting/meeting.screenSharing.webrtc.js -text
scripts/meeting/meeting.sip.js -text
scripts/meeting/meeting.sip.webrtc.js -text
scripts/meeting/meeting.status.js -text
scripts/meeting/meeting.status.webrtc.js -text
scripts/meeting/meeting.webrtc.js -text
scripts/modernizr.js -text
scripts/outerClick.js -text
scripts/polyglot.min.js -text
scripts/request.js -text
scripts/rsa.js -text
scripts/sip_bridge.js -text
scripts/xmltools.js -text
/shortcuts.php -text
/signup.admin.php -text
/signup.php -text
/signup.webclient.php -text
templates/advanced.tpl -text
templates/desktop.tpl -text
templates/guest.tpl -text
templates/meeting.tpl -text
templates/meeting.webrtc.tpl -text
templates/mobile.tpl -text
templates/video.box.tpl -text
