* text=auto !eol
_doc/Framework.txt -text
_doc/MVC.jpg -text
_doc/SharedLib/_mail.php.html -text
_doc/SharedLib/slMail.html -text
_doc/classtrees_SharedLib.html -text
_doc/elementindex.html -text
_doc/elementindex_SharedLib.html -text
_doc/errors.html -text
_doc/export.php -text
_doc/index.html -text
_doc/li_SharedLib.html -text
_doc/media/background.png -text
_doc/media/empty.png -text
_doc/media/style.css -text
_project/make_export.bat -text
_project/tests/data/winmail.dat -text
_project/tests/simpletest_1.1.0.tar.gz -text
api/abstract.php -text
api/account.php -text
api/api.php -text
api/challenge.php -text
api/domain.php -text
api/gw.php -text
api/idp.php -text
api/remoteaccount.php -text
api/schedule.php -text
api/services.php -text
api/statistics.php -text
/application.php -text
application/controller/default.php -text
application/controller/dialog.php -text
application/gui.php -text
application/helper.php -text
application/language.php -text
application/link.php -text
application/model.php -text
application/widget/fieldset.php -text
application/widget/form.php -text
application/widget/grid.php -text
application/widget/menu.php -text
application/widget/panel.php -text
application/widget/tree.php -text
application/widget/view.php -text
application/widget/window.php -text
error/exception.php -text
/framework_releasenotes.txt -text
/frontController.php -text
io/get.php -text
io/post.php -text
io/request.php -text
io/response.php -text
io/router.php -text
io/variable.php -text
mail/language/phpmailer.lang-br.php -text
mail/language/phpmailer.lang-ca.php -text
mail/language/phpmailer.lang-cz.php -text
mail/language/phpmailer.lang-de.php -text
mail/language/phpmailer.lang-dk.php -text
mail/language/phpmailer.lang-en.php -text
mail/language/phpmailer.lang-es.php -text
mail/language/phpmailer.lang-fi.php -text
mail/language/phpmailer.lang-fo.php -text
mail/language/phpmailer.lang-fr.php -text
mail/language/phpmailer.lang-hu.php -text
mail/language/phpmailer.lang-it.php -text
mail/language/phpmailer.lang-ja.php -text
mail/language/phpmailer.lang-nl.php -text
mail/language/phpmailer.lang-no.php -text
mail/language/phpmailer.lang-pl.php -text
mail/language/phpmailer.lang-ro.php -text
mail/language/phpmailer.lang-ru.php -text
mail/language/phpmailer.lang-se.php -text
mail/language/phpmailer.lang-tr.php -text
mail/mail.php -text
mail/parse.php -text
mail/parserlite.php -text
mail/phpmailer.php -text
mail/smime.php -text
mail/smtp.php -text
/object.php -text
plugin/chesscard.php -text
/singleton.deprecated.php -text
storage/cache.php -text
storage/database.php -text
storage/settings.php -text
/system.php -text
system/history.php -text
system/observer.php -text
system/session.php -text
system/singleton.php -text
system/variable.deprecated.php -text
system/variable.php -text
/test.php -text
test/test.php -text
tools/captcha.php -text
tools/charset.php -text
tools/cookie.php -text
tools/crypt.php -text
tools/date.php -text
tools/debug.php -text
tools/dom.php -text
tools/filesystem.php -text
tools/httpauth.php -text
tools/icewarp.php -text
tools/image.php -text
tools/inflector.php -text
tools/math.php -text
tools/php.php -text
tools/search.php -text
tools/spellchecker.php -text
tools/string.php -text
tools/template.php -text
tools/validate.php -text
tools/xml.php -text
tools/zip.php -text
