/*****************PUBLIC**************/
#container
{
	padding-left:10px;
}

#header2 div.iconset
{
	display:none;
}

#account
{
	padding: 0 0 0 7px!important;
	text-indent: 0!important;
	line-height: normal!important;
	
	border: 1px solid #B2B2B2 !important;
	
	border-right:none!important;
	border-radius: 4px 0 0 4px;
	
	text-transform: none;
	
	width:200px!important;
}