.frm_categories .distance{
	padding: 0 0 120px 0;
}
.frm_categories div.obj_popupmain div.popupmaindialog{
	padding: 48px 110px 0 8px;
	overflow: hidden;
}
.frm_categories div.obj_popupmain div.rp{
	position: absolute;
	right: 8px;
	top: 92px;
	width: 92px;
}

.frm_categories div.obj_popupmain div.rp form.pd_color
{
	margin-bottom:10px;
}

.frm_categories div.obj_popupmain div.rp form.obj_button{
	margin-top: 10px!important;
}
.frm_categories div.obj_popupmain div.rp form.obj_button.remove{
	margin-top: 30px!important;
}

.frm_categories div.tag_search{

	position: absolute;
	z-index: 100;

	width: 100%;

	padding: 8px 110px 0 8px;
}

.frm_categories div.tag_used{
	position: absolute;
	bottom: 0;

/*
	border-top: 1px solid #C0C8D0;
	background-color: #DFE4EA;
*/
	padding: 5px 8px 0;
	width: 100%;
}
	.frm_categories div.tag_used div.obj_tag{
		height: 78px;
		overflow: auto;
	}

.frm_categories .obj_datagrid .obj_datagrid-body .color span{
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #888;
	border-color: rgba(0,0,0,0.2);
	margin: 8px 0 0 2px;
	background-color: #FFF;
}

.frm_categories .obj_datagrid .obj_datagrid-body .check div{
	background:	url("../images/checkbox.gif") no-repeat scroll center 9px transparent;
}

.frm_categories .obj_datagrid .obj_datagrid-body .check div.checked {
	background-position:center -37px;
}

/* colors */
div.obj_select_plus.pd_color{
	width: 80px;
}

div.obj_select_plus.pd_color a{
	border: 1px solid transparent;
}
div.obj_select_plus.pd_color a.active,
div.obj_select_plus.pd_color a:hover{
	border: 1px dotted #333;
}

form.obj_select.pd_color[iw-value="cE7A1A2"],
div.obj_select_plus.pd_color .cE7A1A2{ background-color:#E7A1A2!important;}

form.obj_select.pd_color[iw-value="cF9BA89"],
div.obj_select_plus.pd_color .cF9BA89{background-color:#F9BA89!important;}

form.obj_select.pd_color[iw-value="cF7DD8F"],
div .obj_select_plus.pd_color .cF7DD8F{background-color:#F7DD8F!important;}

form.obj_select.pd_color[iw-value="cFCFA90"],
div .obj_select_plus.pd_color .cFCFA90{background-color:#FCFA90!important;}

form.obj_select.pd_color[iw-value="c78D168"],
div .obj_select_plus.pd_color .c78D168{background-color:#78D168!important;}

form.obj_select.pd_color[iw-value="c9FDCC9"],
div .obj_select_plus.pd_color .c9FDCC9{background-color:#9FDCC9!important;}

form.obj_select.pd_color[iw-value="cC6D2B0"],
div .obj_select_plus.pd_color .cC6D2B0{background-color:#C6D2B0!important;}

form.obj_select.pd_color[iw-value="c9DB7E8"],
div .obj_select_plus.pd_color .c9DB7E8{background-color:#9DB7E8!important;}

form.obj_select.pd_color[iw-value="cB5A1E2"],
div .obj_select_plus.pd_color .cB5A1E2{background-color:#B5A1E2!important;}

form.obj_select.pd_color[iw-value="cDAAEC2"],
div .obj_select_plus.pd_color .cDAAEC2{background-color:#DAAEC2!important;}

form.obj_select.pd_color[iw-value="cDAD9DC"],
div .obj_select_plus.pd_color .cDAD9DC{background-color:#DAD9DC!important;}

form.obj_select.pd_color[iw-value="c6B7994"],
div .obj_select_plus.pd_color .c6B7994{background-color:#6B7994!important;}

form.obj_select.pd_color[iw-value="cBFBFBF"],
div .obj_select_plus.pd_color .cBFBFBF{background-color:#BFBFBF!important;}

form.obj_select.pd_color[iw-value="c6F6F6F"],
div .obj_select_plus.pd_color .c6F6F6F{background-color:#6F6F6F!important;}

form.obj_select.pd_color[iw-value="c4F4F4F"],
div .obj_select_plus.pd_color .c4F4F4F{background-color:#4F4F4F!important;}

form.obj_select.pd_color[iw-value="cC11A25"],
div .obj_select_plus.pd_color .cC11A25{background-color:#C11A25!important;}

form.obj_select.pd_color[iw-value="cE2620D"],
div .obj_select_plus.pd_color .cE2620D{background-color:#E2620D!important;}

form.obj_select.pd_color[iw-value="cB9B300"],
div .obj_select_plus.pd_color .cB9B300{background-color:#B9B300!important;}

form.obj_select.pd_color[iw-value="cC79930"],
div .obj_select_plus.pd_color .cC79930{background-color:#C79930!important;}

form.obj_select.pd_color[iw-value="c368F2B"],
div .obj_select_plus.pd_color .c368F2B{background-color:#368F2B!important;}

form.obj_select.pd_color[iw-value="c329B7A"],
div .obj_select_plus.pd_color .c329B7A{background-color:#329B7A!important;}

form.obj_select.pd_color[iw-value="c778B45"],
div .obj_select_plus.pd_color .c778B45{background-color:#778B45!important;}

form.obj_select.pd_color[iw-value="c2858A5"],
div .obj_select_plus.pd_color .c2858A5{background-color:#2858A5!important;}

form.obj_select.pd_color[iw-value="c5C3FA3"],
div .obj_select_plus.pd_color .c5C3FA3{background-color:#5C3FA3!important;}

form.obj_select.pd_color[iw-value="c93446B"],
div .obj_select_plus.pd_color .c93446B{background-color:#93446B!important;}