div.frm_gmap div.tbl_container {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	width: 100%;
}

div.frm_gmap div.map_container {
	padding-top: 52px;
	height: 100%;
}

div.frm_gmap .infowindow-content .title {
	font-weight: bold;
}

div.frm_gmap .infowindow-content {
	display: none;
}

div.frm_gmap .map_box .infowindow-content {
	display: inline;
}