div.frm_certificate .obj_popupmain .obj_popupmain_main_main {
	background: #F5F3EA;
	border: 1px #99998E solid;
	padding:5px;
}

div.frm_certificate table.frmtbl th.th{
	font-weight: bold;
}

div.frm_certificate table.frmtbl ul{
	padding-top: 5px;
}