div.frm_compose div.relative>.obj_suggest_mail{
	padding-right: 30px!important;
}
div.frm_notify form.obj_button.transparent{
	position: absolute;
	top: 0;
	right: 0;
	color: #0088CC;
}
div.frm_notify .obj_checkbox{
	left: -7px;
}

div.frm_notify .obj_input_dynamic {
	min-width: 178px;
}