.frm_add_folder .container1{
	position: absolute;
	z-index: 10;
	padding: 5px 5px 0;
	width: 100%;

	background-color: #f7f7f7;
	border-bottom: 1px solid #DFDCDA;	
}

.frm_add_folder .container2{
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 115px 0 0;
	background-color: #FFF;
}