.frm_jitsi {
	position: absolute;
	top: -32px;
	left: 58px;
	width: 100%;
	background-color: #3dd8b4;
	text-align: center;
	height: 32px;
	transition: all .25s ease-out;
	z-index: 50;
	overflow: hidden;
	opacity: 0;
}

.frm_main.conference_in_progress .frm_jitsi {
	top: 0;
	opacity: 1;
}

.frm_jitsi form.obj_button {
	float: none;
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	margin-top: 2px;
}

.frm_jitsi form.conference.obj_button.ico input {
	font-size: 16px;
	text-indent: 40px;
}

.frm_jitsi form.conference.obj_button.ico:after {
	content: '\e987';
	font-family: 'ico16';
	font-size: 24px;
}
