.frm_phonebook .popupmaindialog>.maxbox{
	padding: 70px 0 47px!important;
}
.frm_phonebook form.obj_input_search_auto{
	position: absolute;
	top: 0px;
	left: 0px;
}

.frm_phonebook form.obj_checkbox{
	position: absolute;
	top: 35px;
	left: 0px;
}

.frm_phonebook .table{
	position: absolute;
	bottom: 0;
	left: 0;
}

div.frm_phonebook .obj_popupico:after{
    content: '\e017';
}