.frm_im_vcard div.avatar{
	width: 100px;
	height: 100px;

	margin: 0 0 0 15px;
	border-radius: 50px;

    overflow: hidden;

	-moz-background-size: contain;
	background-size: contain;
	-webkit-background-size: 100px;
	-o-background-size: 100px;
}

.frm_im_vcard div.avatar img{
	width: 100%;
	border: 0;
	margin: 0;
}