div.frm_confirm.frm_confirm_repeating .obj_popupfoot form.obj_button{
	display: block !important;		
}

div.frm_confirm.frm_confirm_repeating .obj_popupfoot form.obj_button{
	margin-bottom: 5px!important;
}

div.frm_confirm.frm_confirm_repeating .obj_popupfoot{
	padding: 5px 5px 0;
}