.frm_addaddress .frm_addaddress_center{
	height: 100%;
	padding: 82px 2px 97px;
}

.frm_addaddress .rel_container{
	position: relative;
	height: 100%;
}

.frm_addaddress .frm_addaddress_top,
.frm_addaddress .frm_addaddress_bottom{
	position: absolute;
	width: 100%;
}

.frm_addaddress form.long_button input{
	width: 90px;
}

.frm_addaddress .frm_addaddress_bottom{
	bottom: 0px;
	height: 92px;
}

.frm_addaddress .frm_addaddress_bottom form.obj_input.active{
	border-color: {bc_main '#0088CC'};
}