.frm_account_oauth_settings {
	height: 100%;
	position: relative;

}

.frm_account_oauth_settings .obj_upload_editcontainer {
	height: 100%;
	padding-bottom: 33px;
}

.frm_account_oauth_settings .obj_upload_edittable {
	position: absolute;
	bottom: 0;
	left: 0;
}

.rtl .frm_account_oauth_settings .obj_upload_edittable {
	left: auto;
	right: 0;
}
