.frm_distrib div.distrib_block{
	height: 100%;
	padding: 40px 0;
}
	.frm_distrib .obj_attendees .obj_attendeesgrid{
		padding-bottom: 33px;
	}
.frm_distrib table.distrib_tab1{
	position: absolute;
}
.frm_distrib .obj_categories{
	width: 100%;
	position: absolute;
	bottom: 0;
}