.obj_dayview{
	border: 5px solid #fff;
	border-radius: 2px;
	background-color: #FFF;
	margin-top: -5px;

	box-shadow: 0 0 10px #000;
	box-shadow: 0 0 30px rgba(0,0,0,0.5);

	-webkit-animation: reveal 150ms;
	animation: reveal 150ms;
}