form.obj_label_mail {
	color: {bg_ok_button '#0088CC'};
	cursor: pointer;
	float: left;
	clear: both;
}
.rtl form.obj_label_mail {
	float: right;
}
	form.obj_label_mail>label{
		cursor: pointer;
	}
form.obj_label_mail:hover{
	text-decoration: underline;
}