form.obj_checkbox_list{
	height: 100%;
	width: 100%;
	/*overflow: auto;*/
	padding: 1px 3px 3px 0px!important;
}
form.obj_checkbox_list input{margin: 0 5px 0; _margin-left: 2px; padding: 0;}
form.obj_checkbox_list div{
	line-height: 25px;
	white-space: nowrap;
}