div.obj_color table{
	height: 100%;
	width: 100%;

}
div.obj_color tr{
	height: 17px;
}
div.obj_color td{
	width: 5.88%;
	border-collapse: separate;
	border: 1px solid #000000;
	cursor: pointer;
}
	div.obj_color td.active{
		border-width: 2px;
	}