div.obj_allow_settings{
	padding: 0 10px;
}

div.obj_allow_settings .td1{
	padding: 0 2px;
	background-color: #C00000;
	border-radius: 2px 0 0 2px;
}
div.obj_allow_settings .td2{
	background-color: #008000;
	padding: 0 2px;
	border-radius: 0 2px 2px 0;	
}