.obj_groupfiles section{
	padding: 0 22px!important;

    margin: 0 auto;
    max-width: 1024px;
}

/* placeholder */
.obj_list_load.obj_groupfiles>div.placeholder>span:before{
	content: '\e073';
	font-family: "ico24";
	font-size: 48px;
	color: {txt_main_vf '#0088CC'};
	display: block;
	margin-bottom: 15px;
}