div.obj_timeinterval .obj_label.tzlink{
	float: right;
}
	div.obj_timeinterval .obj_label.tzlink label{
		cursor: pointer;
		color: #0077B5;
		/*text-decoration: underline;*/
	}
	div.obj_timeinterval .obj_label.tzlink label:hover{
		text-decoration: underline;	
	}