div.obj_text_mentions_plus{
	line-height: 38px;
}
div.obj_text_mentions_plus a{
	height: 38px;
}
div.obj_text_mentions_plus a.avatar{
	padding-left: 38px;
}
div.obj_text_mentions_plus a>span.avatar{
	left: 6px;
	top: 6px;
}