.obj_groupmentions_item{
	margin-bottom: 15px;
}

/* caption */
.obj_groupmentions_item > h3 {
	cursor: default;
	display: block;
	font-size: 13px;
	font-weight: 500;
	margin: 0;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1.2em;
}

.obj_groupmentions_item > h3 span{
	color: #888;
	font-weight: normal;
	vertical-align: baseline;
}
.obj_groupmentions_item > h3 b{
	font-weight: normal;
	color: {txt_main '#0088CC'};
}

body.light .obj_groupmentions_item > h3 span,
body.light .obj_groupmentions_item > h3 b{
	font-weight: 200;
}

/* body */
.obj_groupmentions_item > div{
	position: relative;
	border: 1px solid #E8E8E8;
	border-radius: 3px;
	padding: 10px 15px 5px 40px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
	margin: 5px 0;
	min-height: 40px;
	line-height: 22px;
	overflow: hidden;

	transition: border 150ms;
}
.rtl .obj_groupmentions_item > div {
	padding: 10px 40px 5px 15px;
}
.obj_groupmentions_item:hover > div,
.obj_groupmentions_item.active > div{
	border-color: {txt_main '#0088CC'};
}
	/* menu button */
	.obj_groupmentions_item > div > div.menu{
		position: absolute;
		right: 0;
		top: 0;

		opacity: 0;
		padding: 5px;
		font-size: 16px;
		line-height: 16px;
		height: 25px;
		cursor: pointer;

		color: {txt_main_vf '#0088CC'};

		transition: opacity 150ms;
	}
	.rtl .obj_groupmentions_item > div > div.menu {
		left: 0;
		right: auto;
	}
		.obj_groupmentions_item > div > div.menu:before{
			content: '\e040';
			font-family: 'ico16';
		}

		.obj_groupmentions_item:hover > div > div.menu,
		.obj_groupmentions_item.active > div > div.menu{
			opacity: 1;
		}

	/* body/icons*/
	.obj_groupmentions_item > div:before{
		position: absolute;
		top: 10px;
		left: 8px;

		font-family: 'ico24';
		font-size: 24px;
		color: {txt_main '#0088CC'};
		line-height: 26px;
	}
	.rtl .obj_groupmentions_item > div:before {
		left: auto;
		right: 8px;
	}
	.obj_groupmentions_item > div.Q:before{
		content: '\e034';
	}
	.obj_groupmentions_item > div.R:before{
		content: '\e046';
	}
	.obj_groupmentions_item > div.Y:before{
		content: '\e900';
	}
	.obj_groupmentions_item > div.I:before{
		content: '\e035';
		font-family: 'ico16';
	}
	.obj_groupmentions_item > div.I.link:before{
		content: '\e061';
	}
	.obj_groupmentions_item > div.W:before{
		content: '\e071';
	}

	/* body/name */
	.obj_groupmentions_item > div > h3{
		font-size: 13px;
		font-weight: 500;
		margin: 1px 0;
	}
	.obj_groupmentions_item > div > h3 span{
		font-weight: normal;
		color: #888;
	}
	body.light .obj_groupmentions_item > div > h3 span{
		font-weight: 200;
	}

	/* body/note */
	.obj_groupmentions_item > div > .note{
		margin: 5px 0;
		overflow: hidden;
		overflow-wrap: break-word;
		text-overflow: ellipsis;
	}
	.obj_groupmentions_item > div > .note a{
		color: {txt_main '#0088CC'};
		text-decoration: none;
	}

	.obj_groupmentions_item > div > .note>img{
		height: 20px;
		vertical-align: bottom;
	}
	.obj_groupmentions_item > div > .note>span.mention{
		color: {txt_main '#0088CC'};
	}
	.obj_groupmentions_item > div > .note>span.mention.me{
		background-color: #e4f4fe;
		border: 1px solid #bde6fd;
		border-radius: 2px;
		font-weight: 500;
		padding: 0 4px;

		-webkit-box-decoration-break: clone;
		-o-box-decoration-break: clone;
		box-decoration-break: clone;
	}

/* addons */
.obj_groupmentions_item > div > .addon{
	border-top: 1px solid #e3e3e3;
	margin: 6px 0;
	padding-top: 6px;
}
	.obj_groupmentions_item > div > .addon h3{
		font-weight: normal;
		font-size: 13px;
		margin: 3px 0;
		line-height: 16px;
		color: {txt_main '#0088CC'};
	}
	body.light .obj_groupmentions_item > div > .addon h3{
		font-weight: 200;
	}

	.obj_groupmentions_item > div > .addon h4{
		font-weight: 500;
		font-size: 13px;
		margin: 0;
		color: #aaa;
	}

	.obj_groupmentions_item > div > .addon .info{
		padding: 5px 0;
	}

	/* addon/preview */
	.obj_groupmentions_item .preview{
		overflow: hidden;
		position: relative;
		margin: 4px 0 8px;
		max-height: 150px;
		/*box-shadow: 0 0 2px rgba(0,0,0,0.15);*/
	}
	.obj_groupmentions_item .preview > img{
		width: 100%;
		float: left;
		border-radius: 2px;
	}

	.obj_groupmentions_item .preview:before,
	.obj_groupmentions_item .preview.ico_none:after{
		display: block;
		position: absolute;
		left: 95px;
		top: 50%;
		margin-top: -24px;
		font-family: 'ico24';
		font-size: 48px;
		line-height: 48px;
		width: 48px;
		height: 48px;

		color: {txt_main '#0088CC'};
	}


		.obj_groupmentions_item .preview.ico,
		.obj_groupmentions_item .preview.convert{
			height: 100px;
			box-shadow: none;
		}
		.obj_groupmentions_item .preview.ico:before{
			content: '\e068';
		}
		.obj_groupmentions_item .preview.convert:before{
			content: '\e012';
			-webkit-animation: rotate 1.4s infinite linear;
			-webkit-animation-play-state: running;
			animation: rotate 1.4s infinite linear;
		}

	.obj_groupmentions_item .preview.ico_none:before{
		display: none;
	}

	.obj_groupmentions_item .preview:after{
		content: '';
		height: 1px;
		position: absolute;
		bottom: -1;
		left: 0;
		width: 100%;
		box-shadow: 0 0 10px #FFF;
		display: none;
	}

	.obj_groupmentions_item .preview.ico_none:after{
		font-family: "filetypes";
		display: block;
	}

		.obj_groupmentions_item .preview:not(.ico):not(.convert){
			cursor: pointer;
		}
		.obj_groupmentions_item .preview:not(.ico):not(.convert):hover:after{
			position: absolute;
			display: inline !important;

			font-family: 'ico24';
			content: "\e059" !important;

			left: 95px;
			top: 50%;

			font-size: 48px;
			line-height: 48px;
			margin-top: -24px;

			color: #FFF;
			text-shadow: 0 0 5px rgba(0,0,0,0.4);
		}

	/* addon/buttons */
	.obj_groupmentions_item > div > .addon .buttons{
		margin-top: 10px;
	}
	.obj_groupmentions_item > div > .addon .buttons:after{
		content: '';
		clear: both;
		display: block;
	}

/* file/share */
.obj_groupmentions_item > div > .share{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
}
.obj_groupmentions_item.share > div{
	min-height: 150px;
}
.obj_groupmentions_item.share > div > .share{
	display: block;
}

.obj_groupmentions_item.share > div > .share .close{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;

	font-size: 16px;
	line-height: 20px;
	font-family: "ico16";
	text-indent: 2px;
	cursor: pointer;
}
.obj_groupmentions_item.share > div > .share .close:after{
	content: '\e036';
}

.obj_groupmentions_item.share > div > .share .row h4{
	margin: 10px 0 5px;
	font-weight: 500;
}
.obj_groupmentions_item.share > div > .share .vcenter{
	position: absolute;
	top: 50%;
	left: 15px;
	right: 15px;
	height: 120px;

	margin-top: -60px;
}

.obj_groupmentions_item.share > div > .share .obj_suggest_mail{
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.obj_groupmentions_item.share > div > .share .obj_button{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Animation */
@keyframes pinto {
    0% {
    	opacity: 0.5;
		transform: scale(0.8,1);
    }
    20%{
    	transform: scale(1,1);
    }
    30% {
    	opacity: 1;
    }
    90%{
    	opacity: 1;
    }
    100%{
    	opacity: 0;
    }
}
.obj_groupmentions_item .animate{
    position: absolute;
    left: 0;
	top: 0;
    height: 100%;
    width: 100%;

    background-color: {bg_main '#0088CC'};
    color: #fff;
    line-height: 26px;

	-webkit-animation: pinto 2s linear;
	-moz-animation: pinto 2s linear;
	animation: pinto 2s linear;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes pinto_text {
    0% {
    	opacity: 0;
    }
    20%{
    	opacity: 0;
    }
    40% {
    	opacity: 1;
    }
}
.obj_groupmentions_item .animate>div{
    text-align: center;
    font-weight: 500;
    padding: 0 60px;
    top: 50%;
    font-size: 13px;
    line-height: 24px;
    margin-top: -12px;
    position: relative;

	-webkit-animation: pinto_text 2s linear;
	-moz-animation: pinto_text 2s linear;
	animation: pinto_text 2s linear;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@keyframes pinto_ico {
    0% {
    	width: 0;
    }
    30%{
    	width: 0;
    }
    50% {
    	width: 24px;
    }
}
.obj_groupmentions_item .animate>div:before{
	content: '\e01a';
	display: block;
	position: absolute;

	left: 15px;

	font-size: 24px;
	font-family: 'ico16';
	font-weight: normal;
	text-align: left;

	height: 24px;
	width: 24px;
	overflow: hidden;

	-webkit-animation: pinto_ico 2s linear;
	-moz-animation: pinto_ico 2s linear;
	animation: pinto_ico 2s linear;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
};
