body.safari {
	overflow: hidden!important;
}
#toolbar #box-doc-name {
	visibility: hidden;
}

#toolbar .extra.left {
	display: none;
}
/*
#toolbar .tabs ul .ribtab:last-child {
	display: none;
}
*/

#fm-btn-help {
	display: none;
}

#toolbar .tabs li.active .tab-bg {
	background-color: #f1f1f1!important;
}
