.sprite-nature{
	background-image: url('../images/smiles/nature@1x.png');
	background-size:2760px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-nature{
	background-image: url('../images/smiles/nature@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-nature{
	background-image: url('../images/smiles/nature@3x.png');
}
}
.smiley-ant{
	background-position: -0px 0;
}
.smiley-baby_chick{
	background-position: -24px 0;
}
.smiley-bear{
	background-position: -48px 0;
}
.smiley-beetle{
	background-position: -72px 0;
}
.smiley-bird{
	background-position: -96px 0;
}
.smiley-blossom{
	background-position: -120px 0;
}
.smiley-blowfish{
	background-position: -144px 0;
}
.smiley-boar{
	background-position: -168px 0;
}
.smiley-bouquet{
	background-position: -192px 0;
}
.smiley-bug{
	background-position: -216px 0;
}
.smiley-cactus{
	background-position: -240px 0;
}
.smiley-camel{
	background-position: -264px 0;
}
.smiley-cat{
	background-position: -288px 0;
}
.smiley-cat2{
	background-position: -312px 0;
}
.smiley-cherry_blossom{
	background-position: -336px 0;
}
.smiley-chestnut{
	background-position: -360px 0;
}
.smiley-chicken{
	background-position: -384px 0;
}
.smiley-cloud{
	background-position: -408px 0;
}
.smiley-cow{
	background-position: -432px 0;
}
.smiley-cow2{
	background-position: -456px 0;
}
.smiley-crescent_moon{
	background-position: -480px 0;
}
.smiley-crocodile{
	background-position: -504px 0;
}
.smiley-cyclone{
	background-position: -528px 0;
}
.smiley-deciduous_tree{
	background-position: -552px 0;
}
.smiley-dog{
	background-position: -576px 0;
}
.smiley-dog2{
	background-position: -600px 0;
}
.smiley-dolphin{
	background-position: -624px 0;
}
.smiley-dragon{
	background-position: -648px 0;
}
.smiley-dragon_face{
	background-position: -672px 0;
}
.smiley-dromedary_camel{
	background-position: -696px 0;
}
.smiley-earth_africa{
	background-position: -720px 0;
}
.smiley-earth_americas{
	background-position: -744px 0;
}
.smiley-earth_asia{
	background-position: -768px 0;
}
.smiley-ear_of_rice{
	background-position: -792px 0;
}
.smiley-elephant{
	background-position: -816px 0;
}
.smiley-evergreen_tree{
	background-position: -840px 0;
}
.smiley-fallen_leaf{
	background-position: -864px 0;
}
.smiley-first_quarter_moon{
	background-position: -888px 0;
}
.smiley-first_quarter_moon_with_face{
	background-position: -912px 0;
}
.smiley-fish{
	background-position: -936px 0;
}
.smiley-foggy{
	background-position: -960px 0;
}
.smiley-four_leaf_clover{
	background-position: -984px 0;
}
.smiley-frog{
	background-position: -1008px 0;
}
.smiley-full_moon{
	background-position: -1032px 0;
}
.smiley-full_moon_with_face{
	background-position: -1056px 0;
}
.smiley-globe_with_meridians{
	background-position: -1080px 0;
}
.smiley-goat{
	background-position: -1104px 0;
}
.smiley-hamster{
	background-position: -1128px 0;
}
.smiley-hatched_chick{
	background-position: -1152px 0;
}
.smiley-hatching_chick{
	background-position: -1176px 0;
}
.smiley-herb{
	background-position: -1200px 0;
}
.smiley-hibiscus{
	background-position: -1224px 0;
}
.smiley-honeybee{
	background-position: -1248px 0;
}
.smiley-horse{
	background-position: -1272px 0;
}
.smiley-koala{
	background-position: -1296px 0;
}
.smiley-last_quarter_moon{
	background-position: -1320px 0;
}
.smiley-last_quarter_moon_with_face{
	background-position: -1344px 0;
}
.smiley-leaves{
	background-position: -1368px 0;
}
.smiley-leopard{
	background-position: -1392px 0;
}
.smiley-maple_leaf{
	background-position: -1416px 0;
}
.smiley-milky_way{
	background-position: -1440px 0;
}
.smiley-monkey{
	background-position: -1464px 0;
}
.smiley-monkey_face{
	background-position: -1488px 0;
}
.smiley-mouse{
	background-position: -1512px 0;
}
.smiley-mouse2{
	background-position: -1536px 0;
}
.smiley-mushroom{
	background-position: -1560px 0;
}
.smiley-new_moon{
	background-position: -1584px 0;
}
.smiley-new_moon_with_face{
	background-position: -1608px 0;
}
.smiley-ocean{
	background-position: -1632px 0;
}
.smiley-octocat{
	background-position: -1656px 0;
}
.smiley-octopus{
	background-position: -1680px 0;
}
.smiley-ox{
	background-position: -1704px 0;
}
.smiley-palm_tree{
	background-position: -1728px 0;
}
.smiley-panda_face{
	background-position: -1752px 0;
}
.smiley-partly_sunny{
	background-position: -1776px 0;
}
.smiley-paw_prints{
	background-position: -1800px 0;
}
.smiley-penguin{
	background-position: -1824px 0;
}
.smiley-pig{
	background-position: -1848px 0;
}
.smiley-pig2{
	background-position: -1872px 0;
}
.smiley-pig_nose{
	background-position: -1896px 0;
}
.smiley-poodle{
	background-position: -1920px 0;
}
.smiley-rabbit{
	background-position: -1944px 0;
}
.smiley-rabbit2{
	background-position: -1968px 0;
}
.smiley-racehorse{
	background-position: -1992px 0;
}
.smiley-ram{
	background-position: -2016px 0;
}
.smiley-rat{
	background-position: -2040px 0;
}
.smiley-rooster{
	background-position: -2064px 0;
}
.smiley-rose{
	background-position: -2088px 0;
}
.smiley-seedling{
	background-position: -2112px 0;
}
.smiley-sheep{
	background-position: -2136px 0;
}
.smiley-shell{
	background-position: -2160px 0;
}
.smiley-snail{
	background-position: -2184px 0;
}
.smiley-snake{
	background-position: -2208px 0;
}
.smiley-snowflake{
	background-position: -2232px 0;
}
.smiley-snowman{
	background-position: -2256px 0;
}
.smiley-squirrel{
	background-position: -2280px 0;
}
.smiley-sunflower{
	background-position: -2304px 0;
}
.smiley-sunny{
	background-position: -2328px 0;
}
.smiley-sun_with_face{
	background-position: -2352px 0;
}
.smiley-tiger{
	background-position: -2376px 0;
}
.smiley-tiger2{
	background-position: -2400px 0;
}
.smiley-tropical_fish{
	background-position: -2424px 0;
}
.smiley-tulip{
	background-position: -2448px 0;
}
.smiley-turtle{
	background-position: -2472px 0;
}
.smiley-umbrella{
	background-position: -2496px 0;
}
.smiley-volcano{
	background-position: -2520px 0;
}
.smiley-waning_crescent_moon{
	background-position: -2544px 0;
}
.smiley-waning_gibbous_moon{
	background-position: -2568px 0;
}
.smiley-water_buffalo{
	background-position: -2592px 0;
}
.smiley-waxing_crescent_moon{
	background-position: -2616px 0;
}
.smiley-waxing_gibbous_moon{
	background-position: -2640px 0;
}
.smiley-whale{
	background-position: -2664px 0;
}
.smiley-whale2{
	background-position: -2688px 0;
}
.smiley-wolf{
	background-position: -2712px 0;
}
.smiley-zap{
	background-position: -2736px 0;
}
