.sprite-food{
	background-image: url('../images/smiles/food@1x.png');
	background-size:1416px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-food{
	background-image: url('../images/smiles/food@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-food{
	background-image: url('../images/smiles/food@3x.png');
}
}
.smiley-apple{
	background-position: -0px 0;
}
.smiley-baby_bottle{
	background-position: -24px 0;
}
.smiley-banana{
	background-position: -48px 0;
}
.smiley-beer{
	background-position: -72px 0;
}
.smiley-beers{
	background-position: -96px 0;
}
.smiley-bento{
	background-position: -120px 0;
}
.smiley-birthday{
	background-position: -144px 0;
}
.smiley-bread{
	background-position: -168px 0;
}
.smiley-cake{
	background-position: -192px 0;
}
.smiley-candy{
	background-position: -216px 0;
}
.smiley-cherries{
	background-position: -240px 0;
}
.smiley-chocolate_bar{
	background-position: -264px 0;
}
.smiley-cocktail{
	background-position: -288px 0;
}
.smiley-coffee{
	background-position: -312px 0;
}
.smiley-cookie{
	background-position: -336px 0;
}
.smiley-corn{
	background-position: -360px 0;
}
.smiley-curry{
	background-position: -384px 0;
}
.smiley-custard{
	background-position: -408px 0;
}
.smiley-dango{
	background-position: -432px 0;
}
.smiley-doughnut{
	background-position: -456px 0;
}
.smiley-egg{
	background-position: -480px 0;
}
.smiley-eggplant{
	background-position: -504px 0;
}
.smiley-fish_cake{
	background-position: -528px 0;
}
.smiley-fork_and_knife{
	background-position: -552px 0;
}
.smiley-fried_shrimp{
	background-position: -576px 0;
}
.smiley-fries{
	background-position: -600px 0;
}
.smiley-grapes{
	background-position: -624px 0;
}
.smiley-green_apple{
	background-position: -648px 0;
}
.smiley-hamburger{
	background-position: -672px 0;
}
.smiley-honey_pot{
	background-position: -696px 0;
}
.smiley-icecream{
	background-position: -720px 0;
}
.smiley-ice_cream{
	background-position: -744px 0;
}
.smiley-lemon{
	background-position: -768px 0;
}
.smiley-lollipop{
	background-position: -792px 0;
}
.smiley-meat_on_bone{
	background-position: -816px 0;
}
.smiley-melon{
	background-position: -840px 0;
}
.smiley-oden{
	background-position: -864px 0;
}
.smiley-peach{
	background-position: -888px 0;
}
.smiley-pear{
	background-position: -912px 0;
}
.smiley-pineapple{
	background-position: -936px 0;
}
.smiley-pizza{
	background-position: -960px 0;
}
.smiley-poultry_leg{
	background-position: -984px 0;
}
.smiley-ramen{
	background-position: -1008px 0;
}
.smiley-rice{
	background-position: -1032px 0;
}
.smiley-rice_ball{
	background-position: -1056px 0;
}
.smiley-rice_cracker{
	background-position: -1080px 0;
}
.smiley-sake{
	background-position: -1104px 0;
}
.smiley-shaved_ice{
	background-position: -1128px 0;
}
.smiley-spaghetti{
	background-position: -1152px 0;
}
.smiley-stew{
	background-position: -1176px 0;
}
.smiley-strawberry{
	background-position: -1200px 0;
}
.smiley-sushi{
	background-position: -1224px 0;
}
.smiley-sweet_potato{
	background-position: -1248px 0;
}
.smiley-tangerine{
	background-position: -1272px 0;
}
.smiley-tea{
	background-position: -1296px 0;
}
.smiley-tomato{
	background-position: -1320px 0;
}
.smiley-tropical_drink{
	background-position: -1344px 0;
}
.smiley-watermelon{
	background-position: -1368px 0;
}
.smiley-wine_glass{
	background-position: -1392px 0;
}
