.sprite-flags{
	background-image: url('../images/smiles/flags@1x.png');
	background-size:5784px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-flags{
	background-image: url('../images/smiles/flags@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-flags{
	background-image: url('../images/smiles/flags@3x.png');
}
}
.smiley-flag-ad{
	background-position: -0px 0;
}
.smiley-flag-ae{
	background-position: -24px 0;
}
.smiley-flag-af{
	background-position: -48px 0;
}
.smiley-flag-ag{
	background-position: -72px 0;
}
.smiley-flag-ai{
	background-position: -96px 0;
}
.smiley-flag-al{
	background-position: -120px 0;
}
.smiley-flag-am{
	background-position: -144px 0;
}
.smiley-flag-an{
	background-position: -168px 0;
}
.smiley-flag-ao{
	background-position: -192px 0;
}
.smiley-flag-aq{
	background-position: -216px 0;
}
.smiley-flag-ar{
	background-position: -240px 0;
}
.smiley-flag-as{
	background-position: -264px 0;
}
.smiley-flag-at{
	background-position: -288px 0;
}
.smiley-flag-au{
	background-position: -312px 0;
}
.smiley-flag-aw{
	background-position: -336px 0;
}
.smiley-flag-ax{
	background-position: -360px 0;
}
.smiley-flag-az{
	background-position: -384px 0;
}
.smiley-flag-ba{
	background-position: -408px 0;
}
.smiley-flag-bb{
	background-position: -432px 0;
}
.smiley-flag-bd{
	background-position: -456px 0;
}
.smiley-flag-be{
	background-position: -480px 0;
}
.smiley-flag-bf{
	background-position: -504px 0;
}
.smiley-flag-bg{
	background-position: -528px 0;
}
.smiley-flag-bh{
	background-position: -552px 0;
}
.smiley-flag-bi{
	background-position: -576px 0;
}
.smiley-flag-bj{
	background-position: -600px 0;
}
.smiley-flag-bl{
	background-position: -624px 0;
}
.smiley-flag-bm{
	background-position: -648px 0;
}
.smiley-flag-bn{
	background-position: -672px 0;
}
.smiley-flag-bo{
	background-position: -696px 0;
}
.smiley-flag-br{
	background-position: -720px 0;
}
.smiley-flag-bs{
	background-position: -744px 0;
}
.smiley-flag-bt{
	background-position: -768px 0;
}
.smiley-flag-bw{
	background-position: -792px 0;
}
.smiley-flag-by{
	background-position: -816px 0;
}
.smiley-flag-bz{
	background-position: -840px 0;
}
.smiley-flag-ca{
	background-position: -864px 0;
}
.smiley-flag-cc{
	background-position: -888px 0;
}
.smiley-flag-cd{
	background-position: -912px 0;
}
.smiley-flag-cf{
	background-position: -936px 0;
}
.smiley-flag-cg{
	background-position: -960px 0;
}
.smiley-flag-ch{
	background-position: -984px 0;
}
.smiley-flag-ci{
	background-position: -1008px 0;
}
.smiley-flag-ck{
	background-position: -1032px 0;
}
.smiley-flag-cl{
	background-position: -1056px 0;
}
.smiley-flag-cm{
	background-position: -1080px 0;
}
.smiley-flag-cn{
	background-position: -1104px 0;
}
.smiley-flag-co{
	background-position: -1128px 0;
}
.smiley-flag-cr{
	background-position: -1152px 0;
}
.smiley-flag-cu{
	background-position: -1176px 0;
}
.smiley-flag-cv{
	background-position: -1200px 0;
}
.smiley-flag-cw{
	background-position: -1224px 0;
}
.smiley-flag-cx{
	background-position: -1248px 0;
}
.smiley-flag-cy{
	background-position: -1272px 0;
}
.smiley-flag-cz{
	background-position: -1296px 0;
}
.smiley-flag-de{
	background-position: -1320px 0;
}
.smiley-flag-dj{
	background-position: -1344px 0;
}
.smiley-flag-dk{
	background-position: -1368px 0;
}
.smiley-flag-dm{
	background-position: -1392px 0;
}
.smiley-flag-do{
	background-position: -1416px 0;
}
.smiley-flag-dz{
	background-position: -1440px 0;
}
.smiley-flag-ec{
	background-position: -1464px 0;
}
.smiley-flag-ee{
	background-position: -1488px 0;
}
.smiley-flag-eg{
	background-position: -1512px 0;
}
.smiley-flag-eh{
	background-position: -1536px 0;
}
.smiley-flag-er{
	background-position: -1560px 0;
}
.smiley-flag-es{
	background-position: -1584px 0;
}
.smiley-flag-et{
	background-position: -1608px 0;
}
.smiley-flag-eu{
	background-position: -1632px 0;
}
.smiley-flag-fi{
	background-position: -1656px 0;
}
.smiley-flag-fj{
	background-position: -1680px 0;
}
.smiley-flag-fk{
	background-position: -1704px 0;
}
.smiley-flag-fm{
	background-position: -1728px 0;
}
.smiley-flag-fo{
	background-position: -1752px 0;
}
.smiley-flag-fr{
	background-position: -1776px 0;
}
.smiley-flag-ga{
	background-position: -1800px 0;
}
.smiley-flag-gb{
	background-position: -1824px 0;
}
.smiley-flag-gd{
	background-position: -1848px 0;
}
.smiley-flag-ge{
	background-position: -1872px 0;
}
.smiley-flag-gg{
	background-position: -1896px 0;
}
.smiley-flag-gh{
	background-position: -1920px 0;
}
.smiley-flag-gi{
	background-position: -1944px 0;
}
.smiley-flag-gl{
	background-position: -1968px 0;
}
.smiley-flag-gm{
	background-position: -1992px 0;
}
.smiley-flag-gn{
	background-position: -2016px 0;
}
.smiley-flag-gq{
	background-position: -2040px 0;
}
.smiley-flag-gr{
	background-position: -2064px 0;
}
.smiley-flag-gs{
	background-position: -2088px 0;
}
.smiley-flag-gt{
	background-position: -2112px 0;
}
.smiley-flag-gu{
	background-position: -2136px 0;
}
.smiley-flag-gw{
	background-position: -2160px 0;
}
.smiley-flag-gy{
	background-position: -2184px 0;
}
.smiley-flag-hk{
	background-position: -2208px 0;
}
.smiley-flag-hn{
	background-position: -2232px 0;
}
.smiley-flag-hr{
	background-position: -2256px 0;
}
.smiley-flag-ht{
	background-position: -2280px 0;
}
.smiley-flag-hu{
	background-position: -2304px 0;
}
.smiley-flag-ic{
	background-position: -2328px 0;
}
.smiley-flag-id{
	background-position: -2352px 0;
}
.smiley-flag-ie{
	background-position: -2376px 0;
}
.smiley-flag-il{
	background-position: -2400px 0;
}
.smiley-flag-im{
	background-position: -2424px 0;
}
.smiley-flag-in{
	background-position: -2448px 0;
}
.smiley-flag-iq{
	background-position: -2472px 0;
}
.smiley-flag-ir{
	background-position: -2496px 0;
}
.smiley-flag-is{
	background-position: -2520px 0;
}
.smiley-flag-it{
	background-position: -2544px 0;
}
.smiley-flag-je{
	background-position: -2568px 0;
}
.smiley-flag-jm{
	background-position: -2592px 0;
}
.smiley-flag-jo{
	background-position: -2616px 0;
}
.smiley-flag-jp{
	background-position: -2640px 0;
}
.smiley-flag-ke{
	background-position: -2664px 0;
}
.smiley-flag-kg{
	background-position: -2688px 0;
}
.smiley-flag-kh{
	background-position: -2712px 0;
}
.smiley-flag-ki{
	background-position: -2736px 0;
}
.smiley-flag-km{
	background-position: -2760px 0;
}
.smiley-flag-kn{
	background-position: -2784px 0;
}
.smiley-flag-kp{
	background-position: -2808px 0;
}
.smiley-flag-kr{
	background-position: -2832px 0;
}
.smiley-flag-kw{
	background-position: -2856px 0;
}
.smiley-flag-ky{
	background-position: -2880px 0;
}
.smiley-flag-kz{
	background-position: -2904px 0;
}
.smiley-flag-la{
	background-position: -2928px 0;
}
.smiley-flag-lb{
	background-position: -2952px 0;
}
.smiley-flag-lc{
	background-position: -2976px 0;
}
.smiley-flag-li{
	background-position: -3000px 0;
}
.smiley-flag-lk{
	background-position: -3024px 0;
}
.smiley-flag-lr{
	background-position: -3048px 0;
}
.smiley-flag-ls{
	background-position: -3072px 0;
}
.smiley-flag-lt{
	background-position: -3096px 0;
}
.smiley-flag-lu{
	background-position: -3120px 0;
}
.smiley-flag-lv{
	background-position: -3144px 0;
}
.smiley-flag-ly{
	background-position: -3168px 0;
}
.smiley-flag-ma{
	background-position: -3192px 0;
}
.smiley-flag-mc{
	background-position: -3216px 0;
}
.smiley-flag-md{
	background-position: -3240px 0;
}
.smiley-flag-me{
	background-position: -3264px 0;
}
.smiley-flag-mf{
	background-position: -3288px 0;
}
.smiley-flag-mg{
	background-position: -3312px 0;
}
.smiley-flag-mh{
	background-position: -3336px 0;
}
.smiley-flag-mk{
	background-position: -3360px 0;
}
.smiley-flag-ml{
	background-position: -3384px 0;
}
.smiley-flag-mm{
	background-position: -3408px 0;
}
.smiley-flag-mn{
	background-position: -3432px 0;
}
.smiley-flag-mo{
	background-position: -3456px 0;
}
.smiley-flag-mp{
	background-position: -3480px 0;
}
.smiley-flag-mq{
	background-position: -3504px 0;
}
.smiley-flag-mr{
	background-position: -3528px 0;
}
.smiley-flag-ms{
	background-position: -3552px 0;
}
.smiley-flag-mt{
	background-position: -3576px 0;
}
.smiley-flag-mu{
	background-position: -3600px 0;
}
.smiley-flag-mv{
	background-position: -3624px 0;
}
.smiley-flag-mw{
	background-position: -3648px 0;
}
.smiley-flag-mx{
	background-position: -3672px 0;
}
.smiley-flag-my{
	background-position: -3696px 0;
}
.smiley-flag-mz{
	background-position: -3720px 0;
}
.smiley-flag-na{
	background-position: -3744px 0;
}
.smiley-flag-nc{
	background-position: -3768px 0;
}
.smiley-flag-ne{
	background-position: -3792px 0;
}
.smiley-flag-nf{
	background-position: -3816px 0;
}
.smiley-flag-ng{
	background-position: -3840px 0;
}
.smiley-flag-ni{
	background-position: -3864px 0;
}
.smiley-flag-nl{
	background-position: -3888px 0;
}
.smiley-flag-no{
	background-position: -3912px 0;
}
.smiley-flag-np{
	background-position: -3936px 0;
}
.smiley-flag-nr{
	background-position: -3960px 0;
}
.smiley-flag-nu{
	background-position: -3984px 0;
}
.smiley-flag-nz{
	background-position: -4008px 0;
}
.smiley-flag-om{
	background-position: -4032px 0;
}
.smiley-flag-pa{
	background-position: -4056px 0;
}
.smiley-flag-pe{
	background-position: -4080px 0;
}
.smiley-flag-pf{
	background-position: -4104px 0;
}
.smiley-flag-pg{
	background-position: -4128px 0;
}
.smiley-flag-ph{
	background-position: -4152px 0;
}
.smiley-flag-pk{
	background-position: -4176px 0;
}
.smiley-flag-pl{
	background-position: -4200px 0;
}
.smiley-flag-pn{
	background-position: -4224px 0;
}
.smiley-flag-pr{
	background-position: -4248px 0;
}
.smiley-flag-ps{
	background-position: -4272px 0;
}
.smiley-flag-pt{
	background-position: -4296px 0;
}
.smiley-flag-pw{
	background-position: -4320px 0;
}
.smiley-flag-py{
	background-position: -4344px 0;
}
.smiley-flag-qa{
	background-position: -4368px 0;
}
.smiley-flag-ro{
	background-position: -4392px 0;
}
.smiley-flag-rs{
	background-position: -4416px 0;
}
.smiley-flag-ru{
	background-position: -4440px 0;
}
.smiley-flag-rw{
	background-position: -4464px 0;
}
.smiley-flag-sa{
	background-position: -4488px 0;
}
.smiley-flag-sb{
	background-position: -4512px 0;
}
.smiley-flag-sc{
	background-position: -4536px 0;
}
.smiley-flag-sd{
	background-position: -4560px 0;
}
.smiley-flag-se{
	background-position: -4584px 0;
}
.smiley-flag-sg{
	background-position: -4608px 0;
}
.smiley-flag-sh{
	background-position: -4632px 0;
}
.smiley-flag-si{
	background-position: -4656px 0;
}
.smiley-flag-sk{
	background-position: -4680px 0;
}
.smiley-flag-sl{
	background-position: -4704px 0;
}
.smiley-flag-sm{
	background-position: -4728px 0;
}
.smiley-flag-sn{
	background-position: -4752px 0;
}
.smiley-flag-so{
	background-position: -4776px 0;
}
.smiley-flag-sr{
	background-position: -4800px 0;
}
.smiley-flag-ss{
	background-position: -4824px 0;
}
.smiley-flag-st{
	background-position: -4848px 0;
}
.smiley-flag-sv{
	background-position: -4872px 0;
}
.smiley-flag-sy{
	background-position: -4896px 0;
}
.smiley-flag-sz{
	background-position: -4920px 0;
}
.smiley-flag-tc{
	background-position: -4944px 0;
}
.smiley-flag-td{
	background-position: -4968px 0;
}
.smiley-flag-tf{
	background-position: -4992px 0;
}
.smiley-flag-tg{
	background-position: -5016px 0;
}
.smiley-flag-th{
	background-position: -5040px 0;
}
.smiley-flag-tj{
	background-position: -5064px 0;
}
.smiley-flag-tk{
	background-position: -5088px 0;
}
.smiley-flag-tl{
	background-position: -5112px 0;
}
.smiley-flag-tm{
	background-position: -5136px 0;
}
.smiley-flag-tn{
	background-position: -5160px 0;
}
.smiley-flag-to{
	background-position: -5184px 0;
}
.smiley-flag-tr{
	background-position: -5208px 0;
}
.smiley-flag-tt{
	background-position: -5232px 0;
}
.smiley-flag-tv{
	background-position: -5256px 0;
}
.smiley-flag-tw{
	background-position: -5280px 0;
}
.smiley-flag-tz{
	background-position: -5304px 0;
}
.smiley-flag-ua{
	background-position: -5328px 0;
}
.smiley-flag-ug{
	background-position: -5352px 0;
}
.smiley-flag-us{
	background-position: -5376px 0;
}
.smiley-flag-uy{
	background-position: -5400px 0;
}
.smiley-flag-uz{
	background-position: -5424px 0;
}
.smiley-flag-va{
	background-position: -5448px 0;
}
.smiley-flag-vc{
	background-position: -5472px 0;
}
.smiley-flag-ve{
	background-position: -5496px 0;
}
.smiley-flag-vg{
	background-position: -5520px 0;
}
.smiley-flag-vi{
	background-position: -5544px 0;
}
.smiley-flag-vn{
	background-position: -5568px 0;
}
.smiley-flag-vu{
	background-position: -5592px 0;
}
.smiley-flag-wf{
	background-position: -5616px 0;
}
.smiley-flag-ws{
	background-position: -5640px 0;
}
.smiley-flag-ye{
	background-position: -5664px 0;
}
.smiley-flag-yt{
	background-position: -5688px 0;
}
.smiley-flag-za{
	background-position: -5712px 0;
}
.smiley-flag-zm{
	background-position: -5736px 0;
}
.smiley-flag-zw{
	background-position: -5760px 0;
}
