.sprite-places{
	background-image: url('../images/smiles/places@1x.png');
	background-size:2280px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-places{
	background-image: url('../images/smiles/places@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-places{
	background-image: url('../images/smiles/places@3x.png');
}
}
.smiley-aerial_tramway{
	background-position: -0px 0;
}
.smiley-airplane{
	background-position: -24px 0;
}
.smiley-ambulance{
	background-position: -48px 0;
}
.smiley-anchor{
	background-position: -72px 0;
}
.smiley-articulated_lorry{
	background-position: -96px 0;
}
.smiley-atm{
	background-position: -120px 0;
}
.smiley-bank{
	background-position: -144px 0;
}
.smiley-barber{
	background-position: -168px 0;
}
.smiley-beginner{
	background-position: -192px 0;
}
.smiley-bike{
	background-position: -216px 0;
}
.smiley-blue_car{
	background-position: -240px 0;
}
.smiley-boat{
	background-position: -264px 0;
}
.smiley-bridge_at_night{
	background-position: -288px 0;
}
.smiley-bullettrain_front{
	background-position: -312px 0;
}
.smiley-bullettrain_side{
	background-position: -336px 0;
}
.smiley-bus{
	background-position: -360px 0;
}
.smiley-busstop{
	background-position: -384px 0;
}
.smiley-car{
	background-position: -408px 0;
}
.smiley-carousel_horse{
	background-position: -432px 0;
}
.smiley-checkered_flag{
	background-position: -456px 0;
}
.smiley-church{
	background-position: -480px 0;
}
.smiley-circus_tent{
	background-position: -504px 0;
}
.smiley-city_sunrise{
	background-position: -528px 0;
}
.smiley-city_sunset{
	background-position: -552px 0;
}
.smiley-construction{
	background-position: -576px 0;
}
.smiley-convenience_store{
	background-position: -600px 0;
}
.smiley-crossed_flags{
	background-position: -624px 0;
}
.smiley-department_store{
	background-position: -648px 0;
}
.smiley-european_castle{
	background-position: -672px 0;
}
.smiley-european_post_office{
	background-position: -696px 0;
}
.smiley-factory{
	background-position: -720px 0;
}
.smiley-ferris_wheel{
	background-position: -744px 0;
}
.smiley-fire_engine{
	background-position: -768px 0;
}
.smiley-fountain{
	background-position: -792px 0;
}
.smiley-fuelpump{
	background-position: -816px 0;
}
.smiley-helicopter{
	background-position: -840px 0;
}
.smiley-hospital{
	background-position: -864px 0;
}
.smiley-hotel{
	background-position: -888px 0;
}
.smiley-hotsprings{
	background-position: -912px 0;
}
.smiley-house{
	background-position: -936px 0;
}
.smiley-house_with_garden{
	background-position: -960px 0;
}
.smiley-izakaya_lantern{
	background-position: -984px 0;
}
.smiley-japan{
	background-position: -1008px 0;
}
.smiley-japanese_castle{
	background-position: -1032px 0;
}
.smiley-light_rail{
	background-position: -1056px 0;
}
.smiley-love_hotel{
	background-position: -1080px 0;
}
.smiley-minibus{
	background-position: -1104px 0;
}
.smiley-monorail{
	background-position: -1128px 0;
}
.smiley-mountain_cableway{
	background-position: -1152px 0;
}
.smiley-mountain_railway{
	background-position: -1176px 0;
}
.smiley-mount_fuji{
	background-position: -1200px 0;
}
.smiley-moyai{
	background-position: -1224px 0;
}
.smiley-office{
	background-position: -1248px 0;
}
.smiley-oncoming_automobile{
	background-position: -1272px 0;
}
.smiley-oncoming_bus{
	background-position: -1296px 0;
}
.smiley-oncoming_police_car{
	background-position: -1320px 0;
}
.smiley-oncoming_taxi{
	background-position: -1344px 0;
}
.smiley-performing_arts{
	background-position: -1368px 0;
}
.smiley-police_car{
	background-position: -1392px 0;
}
.smiley-post_office{
	background-position: -1416px 0;
}
.smiley-railway_car{
	background-position: -1440px 0;
}
.smiley-rainbow{
	background-position: -1464px 0;
}
.smiley-red_car{
	background-position: -1488px 0;
}
.smiley-rocket{
	background-position: -1512px 0;
}
.smiley-roller_coaster{
	background-position: -1536px 0;
}
.smiley-rotating_light{
	background-position: -1560px 0;
}
.smiley-round_pushpin{
	background-position: -1584px 0;
}
.smiley-rowboat{
	background-position: -1608px 0;
}
.smiley-sailboat{
	background-position: -1632px 0;
}
.smiley-school{
	background-position: -1656px 0;
}
.smiley-ship{
	background-position: -1680px 0;
}
.smiley-slot_machine{
	background-position: -1704px 0;
}
.smiley-speedboat{
	background-position: -1728px 0;
}
.smiley-stars{
	background-position: -1752px 0;
}
.smiley-station{
	background-position: -1776px 0;
}
.smiley-statue_of_liberty{
	background-position: -1800px 0;
}
.smiley-steam_locomotive{
	background-position: -1824px 0;
}
.smiley-sunrise{
	background-position: -1848px 0;
}
.smiley-sunrise_over_mountains{
	background-position: -1872px 0;
}
.smiley-suspension_railway{
	background-position: -1896px 0;
}
.smiley-taxi{
	background-position: -1920px 0;
}
.smiley-tent{
	background-position: -1944px 0;
}
.smiley-ticket{
	background-position: -1968px 0;
}
.smiley-tokyo_tower{
	background-position: -1992px 0;
}
.smiley-tractor{
	background-position: -2016px 0;
}
.smiley-traffic_light{
	background-position: -2040px 0;
}
.smiley-train{
	background-position: -2064px 0;
}
.smiley-train2{
	background-position: -2088px 0;
}
.smiley-tram{
	background-position: -2112px 0;
}
.smiley-triangular_flag_on_post{
	background-position: -2136px 0;
}
.smiley-trolleybus{
	background-position: -2160px 0;
}
.smiley-truck{
	background-position: -2184px 0;
}
.smiley-vertical_traffic_light{
	background-position: -2208px 0;
}
.smiley-warning{
	background-position: -2232px 0;
}
.smiley-wedding{
	background-position: -2256px 0;
}
