.sprite-symbols{
	background-image: url('../images/smiles/symbols@1x.png');
	background-size:4848px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-symbols{
	background-image: url('../images/smiles/symbols@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-symbols{
	background-image: url('../images/smiles/symbols@3x.png');
}
}
.smiley-100{
	background-position: -0px 0;
}
.smiley-1234{
	background-position: -24px 0;
}
.smiley-a{
	background-position: -48px 0;
}
.smiley-ab{
	background-position: -72px 0;
}
.smiley-abc{
	background-position: -96px 0;
}
.smiley-abcd{
	background-position: -120px 0;
}
.smiley-accept{
	background-position: -144px 0;
}
.smiley-aquarius{
	background-position: -168px 0;
}
.smiley-aries{
	background-position: -192px 0;
}
.smiley-arrows_clockwise{
	background-position: -216px 0;
}
.smiley-arrows_counterclockwise{
	background-position: -240px 0;
}
.smiley-arrow_backward{
	background-position: -264px 0;
}
.smiley-arrow_double_down{
	background-position: -288px 0;
}
.smiley-arrow_double_up{
	background-position: -312px 0;
}
.smiley-arrow_down{
	background-position: -336px 0;
}
.smiley-arrow_down_small{
	background-position: -360px 0;
}
.smiley-arrow_forward{
	background-position: -384px 0;
}
.smiley-arrow_heading_down{
	background-position: -408px 0;
}
.smiley-arrow_heading_up{
	background-position: -432px 0;
}
.smiley-arrow_left{
	background-position: -456px 0;
}
.smiley-arrow_lower_left{
	background-position: -480px 0;
}
.smiley-arrow_lower_right{
	background-position: -504px 0;
}
.smiley-arrow_right{
	background-position: -528px 0;
}
.smiley-arrow_right_hook{
	background-position: -552px 0;
}
.smiley-arrow_up{
	background-position: -576px 0;
}
.smiley-arrow_upper_left{
	background-position: -600px 0;
}
.smiley-arrow_upper_right{
	background-position: -624px 0;
}
.smiley-arrow_up_down{
	background-position: -648px 0;
}
.smiley-arrow_up_small{
	background-position: -672px 0;
}
.smiley-b{
	background-position: -696px 0;
}
.smiley-baby_symbol{
	background-position: -720px 0;
}
.smiley-back{
	background-position: -744px 0;
}
.smiley-baggage_claim{
	background-position: -768px 0;
}
.smiley-ballot_box_with_check{
	background-position: -792px 0;
}
.smiley-bangbang{
	background-position: -816px 0;
}
.smiley-black_circle{
	background-position: -840px 0;
}
.smiley-black_medium_small_square{
	background-position: -864px 0;
}
.smiley-black_medium_square{
	background-position: -888px 0;
}
.smiley-black_small_square{
	background-position: -912px 0;
}
.smiley-black_square{
	background-position: -936px 0;
}
.smiley-black_square_button{
	background-position: -960px 0;
}
.smiley-cancer{
	background-position: -984px 0;
}
.smiley-capital_abcd{
	background-position: -1008px 0;
}
.smiley-capricorn{
	background-position: -1032px 0;
}
.smiley-chart{
	background-position: -1056px 0;
}
.smiley-children_crossing{
	background-position: -1080px 0;
}
.smiley-cinema{
	background-position: -1104px 0;
}
.smiley-cl{
	background-position: -1128px 0;
}
.smiley-clock1{
	background-position: -1152px 0;
}
.smiley-clock10{
	background-position: -1176px 0;
}
.smiley-clock1030{
	background-position: -1200px 0;
}
.smiley-clock11{
	background-position: -1224px 0;
}
.smiley-clock1130{
	background-position: -1248px 0;
}
.smiley-clock12{
	background-position: -1272px 0;
}
.smiley-clock1230{
	background-position: -1296px 0;
}
.smiley-clock130{
	background-position: -1320px 0;
}
.smiley-clock2{
	background-position: -1344px 0;
}
.smiley-clock230{
	background-position: -1368px 0;
}
.smiley-clock3{
	background-position: -1392px 0;
}
.smiley-clock330{
	background-position: -1416px 0;
}
.smiley-clock4{
	background-position: -1440px 0;
}
.smiley-clock430{
	background-position: -1464px 0;
}
.smiley-clock5{
	background-position: -1488px 0;
}
.smiley-clock530{
	background-position: -1512px 0;
}
.smiley-clock6{
	background-position: -1536px 0;
}
.smiley-clock630{
	background-position: -1560px 0;
}
.smiley-clock7{
	background-position: -1584px 0;
}
.smiley-clock730{
	background-position: -1608px 0;
}
.smiley-clock8{
	background-position: -1632px 0;
}
.smiley-clock830{
	background-position: -1656px 0;
}
.smiley-clock9{
	background-position: -1680px 0;
}
.smiley-clock930{
	background-position: -1704px 0;
}
.smiley-congratulations{
	background-position: -1728px 0;
}
.smiley-cool{
	background-position: -1752px 0;
}
.smiley-copyright{
	background-position: -1776px 0;
}
.smiley-curly_loop{
	background-position: -1800px 0;
}
.smiley-currency_exchange{
	background-position: -1824px 0;
}
.smiley-customs{
	background-position: -1848px 0;
}
.smiley-diamond_shape_with_a_dot_inside{
	background-position: -1872px 0;
}
.smiley-do_not_litter{
	background-position: -1896px 0;
}
.smiley-eight{
	background-position: -1920px 0;
}
.smiley-eight_pointed_black_star{
	background-position: -1944px 0;
}
.smiley-eight_spoked_asterisk{
	background-position: -1968px 0;
}
.smiley-end{
	background-position: -1992px 0;
}
.smiley-fast_forward{
	background-position: -2016px 0;
}
.smiley-five{
	background-position: -2040px 0;
}
.smiley-four{
	background-position: -2064px 0;
}
.smiley-free{
	background-position: -2088px 0;
}
.smiley-gemini{
	background-position: -2112px 0;
}
.smiley-hash{
	background-position: -2136px 0;
}
.smiley-heart_decoration{
	background-position: -2160px 0;
}
.smiley-heavy_check_mark{
	background-position: -2184px 0;
}
.smiley-heavy_division_sign{
	background-position: -2208px 0;
}
.smiley-heavy_dollar_sign{
	background-position: -2232px 0;
}
.smiley-heavy_exclamation_mark{
	background-position: -2256px 0;
}
.smiley-heavy_minus_sign{
	background-position: -2280px 0;
}
.smiley-heavy_multiplication_x{
	background-position: -2304px 0;
}
.smiley-heavy_plus_sign{
	background-position: -2328px 0;
}
.smiley-id{
	background-position: -2352px 0;
}
.smiley-ideograph_advantage{
	background-position: -2376px 0;
}
.smiley-information_source{
	background-position: -2400px 0;
}
.smiley-interrobang{
	background-position: -2424px 0;
}
.smiley-keycap_ten{
	background-position: -2448px 0;
}
.smiley-koko{
	background-position: -2472px 0;
}
.smiley-large_blue_circle{
	background-position: -2496px 0;
}
.smiley-large_blue_diamond{
	background-position: -2520px 0;
}
.smiley-large_orange_diamond{
	background-position: -2544px 0;
}
.smiley-leftwards_arrow_with_hook{
	background-position: -2568px 0;
}
.smiley-left_luggage{
	background-position: -2592px 0;
}
.smiley-left_right_arrow{
	background-position: -2616px 0;
}
.smiley-leo{
	background-position: -2640px 0;
}
.smiley-libra{
	background-position: -2664px 0;
}
.smiley-link{
	background-position: -2688px 0;
}
.smiley-m{
	background-position: -2712px 0;
}
.smiley-mens{
	background-position: -2736px 0;
}
.smiley-metro{
	background-position: -2760px 0;
}
.smiley-mobile_phone_off{
	background-position: -2784px 0;
}
.smiley-negative_squared_cross_mark{
	background-position: -2808px 0;
}
.smiley-new{
	background-position: -2832px 0;
}
.smiley-ng{
	background-position: -2856px 0;
}
.smiley-nine{
	background-position: -2880px 0;
}
.smiley-non-potable_water{
	background-position: -2904px 0;
}
.smiley-no_bicycles{
	background-position: -2928px 0;
}
.smiley-no_entry{
	background-position: -2952px 0;
}
.smiley-no_entry_sign{
	background-position: -2976px 0;
}
.smiley-no_mobile_phones{
	background-position: -3000px 0;
}
.smiley-no_pedestrians{
	background-position: -3024px 0;
}
.smiley-no_smoking{
	background-position: -3048px 0;
}
.smiley-o{
	background-position: -3072px 0;
}
.smiley-o2{
	background-position: -3096px 0;
}
.smiley-ok{
	background-position: -3120px 0;
}
.smiley-on{
	background-position: -3144px 0;
}
.smiley-one{
	background-position: -3168px 0;
}
.smiley-ophiuchus{
	background-position: -3192px 0;
}
.smiley-parking{
	background-position: -3216px 0;
}
.smiley-part_alternation_mark{
	background-position: -3240px 0;
}
.smiley-passport_control{
	background-position: -3264px 0;
}
.smiley-pisces{
	background-position: -3288px 0;
}
.smiley-potable_water{
	background-position: -3312px 0;
}
.smiley-put_litter_in_its_place{
	background-position: -3336px 0;
}
.smiley-radio_button{
	background-position: -3360px 0;
}
.smiley-recycle{
	background-position: -3384px 0;
}
.smiley-red_circle{
	background-position: -3408px 0;
}
.smiley-registered{
	background-position: -3432px 0;
}
.smiley-repeat{
	background-position: -3456px 0;
}
.smiley-repeat_one{
	background-position: -3480px 0;
}
.smiley-restroom{
	background-position: -3504px 0;
}
.smiley-rewind{
	background-position: -3528px 0;
}
.smiley-sa{
	background-position: -3552px 0;
}
.smiley-sagittarius{
	background-position: -3576px 0;
}
.smiley-scorpius{
	background-position: -3600px 0;
}
.smiley-secret{
	background-position: -3624px 0;
}
.smiley-seven{
	background-position: -3648px 0;
}
.smiley-shipit{
	background-position: -3672px 0;
}
.smiley-signal_strength{
	background-position: -3696px 0;
}
.smiley-six{
	background-position: -3720px 0;
}
.smiley-six_pointed_star{
	background-position: -3744px 0;
}
.smiley-small_blue_diamond{
	background-position: -3768px 0;
}
.smiley-small_orange_diamond{
	background-position: -3792px 0;
}
.smiley-small_red_triangle{
	background-position: -3816px 0;
}
.smiley-small_red_triangle_down{
	background-position: -3840px 0;
}
.smiley-soon{
	background-position: -3864px 0;
}
.smiley-sos{
	background-position: -3888px 0;
}
.smiley-sparkle{
	background-position: -3912px 0;
}
.smiley-symbols{
	background-position: -3936px 0;
}
.smiley-taurus{
	background-position: -3960px 0;
}
.smiley-three{
	background-position: -3984px 0;
}
.smiley-tm{
	background-position: -4008px 0;
}
.smiley-top{
	background-position: -4032px 0;
}
.smiley-trident{
	background-position: -4056px 0;
}
.smiley-twisted_rightwards_arrows{
	background-position: -4080px 0;
}
.smiley-two{
	background-position: -4104px 0;
}
.smiley-u5272{
	background-position: -4128px 0;
}
.smiley-u5408{
	background-position: -4152px 0;
}
.smiley-u55b6{
	background-position: -4176px 0;
}
.smiley-u6307{
	background-position: -4200px 0;
}
.smiley-u6708{
	background-position: -4224px 0;
}
.smiley-u6709{
	background-position: -4248px 0;
}
.smiley-u6e80{
	background-position: -4272px 0;
}
.smiley-u7121{
	background-position: -4296px 0;
}
.smiley-u7533{
	background-position: -4320px 0;
}
.smiley-u7981{
	background-position: -4344px 0;
}
.smiley-u7a7a{
	background-position: -4368px 0;
}
.smiley-underage{
	background-position: -4392px 0;
}
.smiley-up{
	background-position: -4416px 0;
}
.smiley-vibration_mode{
	background-position: -4440px 0;
}
.smiley-virgo{
	background-position: -4464px 0;
}
.smiley-vs{
	background-position: -4488px 0;
}
.smiley-wavy_dash{
	background-position: -4512px 0;
}
.smiley-wc{
	background-position: -4536px 0;
}
.smiley-wheelchair{
	background-position: -4560px 0;
}
.smiley-white_check_mark{
	background-position: -4584px 0;
}
.smiley-white_circle{
	background-position: -4608px 0;
}
.smiley-white_flower{
	background-position: -4632px 0;
}
.smiley-white_large_square{
	background-position: -4656px 0;
}
.smiley-white_medium_small_square{
	background-position: -4680px 0;
}
.smiley-white_medium_square{
	background-position: -4704px 0;
}
.smiley-white_small_square{
	background-position: -4728px 0;
}
.smiley-white_square_button{
	background-position: -4752px 0;
}
.smiley-womens{
	background-position: -4776px 0;
}
.smiley-x{
	background-position: -4800px 0;
}
.smiley-zero{
	background-position: -4824px 0;
}
