.sprite-people{
	background-image: url('../images/smiles/people@1x.png');
	background-size:4608px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-people{
	background-image: url('../images/smiles/people@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-people{
	background-image: url('../images/smiles/people@3x.png');
}
}
.smiley--1{
	background-position: -0px 0;
}
.smiley-alien{
	background-position: -24px 0;
}
.smiley-angel{
	background-position: -48px 0;
}
.smiley-anger{
	background-position: -72px 0;
}
.smiley-angry{
	background-position: -96px 0;
}
.smiley-anguished{
	background-position: -120px 0;
}
.smiley-astonished{
	background-position: -144px 0;
}
.smiley-baby{
	background-position: -168px 0;
}
.smiley-blue_heart{
	background-position: -192px 0;
}
.smiley-blush{
	background-position: -216px 0;
}
.smiley-boom{
	background-position: -240px 0;
}
.smiley-bow{
	background-position: -264px 0;
}
.smiley-bowtie{
	background-position: -288px 0;
}
.smiley-boy{
	background-position: -312px 0;
}
.smiley-bride_with_veil{
	background-position: -336px 0;
}
.smiley-broken_heart{
	background-position: -360px 0;
}
.smiley-busts_in_silhouette{
	background-position: -384px 0;
}
.smiley-bust_in_silhouette{
	background-position: -408px 0;
}
.smiley-clap{
	background-position: -432px 0;
}
.smiley-cold_sweat{
	background-position: -456px 0;
}
.smiley-collision{
	background-position: -480px 0;
}
.smiley-confounded{
	background-position: -504px 0;
}
.smiley-confused{
	background-position: -528px 0;
}
.smiley-construction_worker{
	background-position: -552px 0;
}
.smiley-cop{
	background-position: -576px 0;
}
.smiley-couple{
	background-position: -600px 0;
}
.smiley-couplekiss{
	background-position: -624px 0;
}
.smiley-couple_with_heart{
	background-position: -648px 0;
}
.smiley-cry{
	background-position: -672px 0;
}
.smiley-crying_cat_face{
	background-position: -696px 0;
}
.smiley-cupid{
	background-position: -720px 0;
}
.smiley-dancer{
	background-position: -744px 0;
}
.smiley-dancers{
	background-position: -768px 0;
}
.smiley-dash{
	background-position: -792px 0;
}
.smiley-disappointed{
	background-position: -816px 0;
}
.smiley-disappointed_relieved{
	background-position: -840px 0;
}
.smiley-dizzy{
	background-position: -864px 0;
}
.smiley-dizzy_face{
	background-position: -888px 0;
}
.smiley-droplet{
	background-position: -912px 0;
}
.smiley-ear{
	background-position: -936px 0;
}
.smiley-exclamation{
	background-position: -960px 0;
}
.smiley-expressionless{
	background-position: -984px 0;
}
.smiley-eyes{
	background-position: -1008px 0;
}
.smiley-facepunch{
	background-position: -1032px 0;
}
.smiley-family{
	background-position: -1056px 0;
}
.smiley-fearful{
	background-position: -1080px 0;
}
.smiley-feelsgood{
	background-position: -1104px 0;
}
.smiley-feet{
	background-position: -1128px 0;
}
.smiley-finnadie{
	background-position: -1152px 0;
}
.smiley-fire{
	background-position: -1176px 0;
}
.smiley-fist{
	background-position: -1200px 0;
}
.smiley-flushed{
	background-position: -1224px 0;
}
.smiley-frowning{
	background-position: -1248px 0;
}
.smiley-fu{
	background-position: -1272px 0;
}
.smiley-girl{
	background-position: -1296px 0;
}
.smiley-goberserk{
	background-position: -1320px 0;
}
.smiley-godmode{
	background-position: -1344px 0;
}
.smiley-green_heart{
	background-position: -1368px 0;
}
.smiley-grey_exclamation{
	background-position: -1392px 0;
}
.smiley-grey_question{
	background-position: -1416px 0;
}
.smiley-grimacing{
	background-position: -1440px 0;
}
.smiley-grin{
	background-position: -1464px 0;
}
.smiley-grinning{
	background-position: -1488px 0;
}
.smiley-guardsman{
	background-position: -1512px 0;
}
.smiley-haircut{
	background-position: -1536px 0;
}
.smiley-hand{
	background-position: -1560px 0;
}
.smiley-hankey{
	background-position: -1584px 0;
}
.smiley-heart{
	background-position: -1608px 0;
}
.smiley-heartbeat{
	background-position: -1632px 0;
}
.smiley-heartpulse{
	background-position: -1656px 0;
}
.smiley-heart_eyes{
	background-position: -1680px 0;
}
.smiley-heart_eyes_cat{
	background-position: -1704px 0;
}
.smiley-hear_no_evil{
	background-position: -1728px 0;
}
.smiley-hurtrealbad{
	background-position: -1752px 0;
}
.smiley-hushed{
	background-position: -1776px 0;
}
.smiley-imp{
	background-position: -1800px 0;
}
.smiley-information_desk_person{
	background-position: -1824px 0;
}
.smiley-innocent{
	background-position: -1848px 0;
}
.smiley-japanese_goblin{
	background-position: -1872px 0;
}
.smiley-japanese_ogre{
	background-position: -1896px 0;
}
.smiley-joy{
	background-position: -1920px 0;
}
.smiley-joy_cat{
	background-position: -1944px 0;
}
.smiley-kiss{
	background-position: -1968px 0;
}
.smiley-kissing{
	background-position: -1992px 0;
}
.smiley-kissing_cat{
	background-position: -2016px 0;
}
.smiley-kissing_closed_eyes{
	background-position: -2040px 0;
}
.smiley-kissing_heart{
	background-position: -2064px 0;
}
.smiley-kissing_smiling_eyes{
	background-position: -2088px 0;
}
.smiley-laughing{
	background-position: -2112px 0;
}
.smiley-lips{
	background-position: -2136px 0;
}
.smiley-love_letter{
	background-position: -2160px 0;
}
.smiley-man{
	background-position: -2184px 0;
}
.smiley-man_with_gua_pi_mao{
	background-position: -2208px 0;
}
.smiley-man_with_turban{
	background-position: -2232px 0;
}
.smiley-mask{
	background-position: -2256px 0;
}
.smiley-massage{
	background-position: -2280px 0;
}
.smiley-metal{
	background-position: -2304px 0;
}
.smiley-muscle{
	background-position: -2328px 0;
}
.smiley-musical_note{
	background-position: -2352px 0;
}
.smiley-nail_care{
	background-position: -2376px 0;
}
.smiley-neckbeard{
	background-position: -2400px 0;
}
.smiley-neutral_face{
	background-position: -2424px 0;
}
.smiley-nose{
	background-position: -2448px 0;
}
.smiley-notes{
	background-position: -2472px 0;
}
.smiley-no_good{
	background-position: -2496px 0;
}
.smiley-no_mouth{
	background-position: -2520px 0;
}
.smiley-ok_hand{
	background-position: -2544px 0;
}
.smiley-ok_woman{
	background-position: -2568px 0;
}
.smiley-older_man{
	background-position: -2592px 0;
}
.smiley-older_woman{
	background-position: -2616px 0;
}
.smiley-open_hands{
	background-position: -2640px 0;
}
.smiley-open_mouth{
	background-position: -2664px 0;
}
.smiley-pensive{
	background-position: -2688px 0;
}
.smiley-persevere{
	background-position: -2712px 0;
}
.smiley-person_frowning{
	background-position: -2736px 0;
}
.smiley-person_with_blond_hair{
	background-position: -2760px 0;
}
.smiley-person_with_pouting_face{
	background-position: -2784px 0;
}
.smiley-plus1{
	background-position: -2808px 0;
}
.smiley-point_down{
	background-position: -2832px 0;
}
.smiley-point_left{
	background-position: -2856px 0;
}
.smiley-point_right{
	background-position: -2880px 0;
}
.smiley-point_up{
	background-position: -2904px 0;
}
.smiley-point_up_2{
	background-position: -2928px 0;
}
.smiley-pouting_cat{
	background-position: -2952px 0;
}
.smiley-pray{
	background-position: -2976px 0;
}
.smiley-princess{
	background-position: -3000px 0;
}
.smiley-punch{
	background-position: -3024px 0;
}
.smiley-purple_heart{
	background-position: -3048px 0;
}
.smiley-question{
	background-position: -3072px 0;
}
.smiley-rage{
	background-position: -3096px 0;
}
.smiley-rage1{
	background-position: -3120px 0;
}
.smiley-rage2{
	background-position: -3144px 0;
}
.smiley-rage3{
	background-position: -3168px 0;
}
.smiley-rage4{
	background-position: -3192px 0;
}
.smiley-raised_hand{
	background-position: -3216px 0;
}
.smiley-raised_hands{
	background-position: -3240px 0;
}
.smiley-raising_hand{
	background-position: -3264px 0;
}
.smiley-relaxed{
	background-position: -3288px 0;
}
.smiley-relieved{
	background-position: -3312px 0;
}
.smiley-revolving_hearts{
	background-position: -3336px 0;
}
.smiley-runner{
	background-position: -3360px 0;
}
.smiley-running{
	background-position: -3384px 0;
}
.smiley-satisfied{
	background-position: -3408px 0;
}
.smiley-scream{
	background-position: -3432px 0;
}
.smiley-scream_cat{
	background-position: -3456px 0;
}
.smiley-see_no_evil{
	background-position: -3480px 0;
}
.smiley-simple_smile{
	background-position: -3504px 0;
}
.smiley-skull{
	background-position: -3528px 0;
}
.smiley-sleeping{
	background-position: -3552px 0;
}
.smiley-sleepy{
	background-position: -3576px 0;
}
.smiley-smile{
	background-position: -3600px 0;
}
.smiley-smiley{
	background-position: -3624px 0;
}
.smiley-smiley_cat{
	background-position: -3648px 0;
}
.smiley-smile_cat{
	background-position: -3672px 0;
}
.smiley-smiling_imp{
	background-position: -3696px 0;
}
.smiley-smirk{
	background-position: -3720px 0;
}
.smiley-smirk_cat{
	background-position: -3744px 0;
}
.smiley-sob{
	background-position: -3768px 0;
}
.smiley-sparkles{
	background-position: -3792px 0;
}
.smiley-sparkling_heart{
	background-position: -3816px 0;
}
.smiley-speak_no_evil{
	background-position: -3840px 0;
}
.smiley-speech_balloon{
	background-position: -3864px 0;
}
.smiley-star{
	background-position: -3888px 0;
}
.smiley-star2{
	background-position: -3912px 0;
}
.smiley-stuck_out_tongue{
	background-position: -3936px 0;
}
.smiley-stuck_out_tongue_closed_eyes{
	background-position: -3960px 0;
}
.smiley-stuck_out_tongue_winking_eye{
	background-position: -3984px 0;
}
.smiley-sunglasses{
	background-position: -4008px 0;
}
.smiley-suspect{
	background-position: -4032px 0;
}
.smiley-sweat{
	background-position: -4056px 0;
}
.smiley-sweat_drops{
	background-position: -4080px 0;
}
.smiley-sweat_smile{
	background-position: -4104px 0;
}
.smiley-thought_balloon{
	background-position: -4128px 0;
}
.smiley-thumbsdown{
	background-position: -4152px 0;
}
.smiley-thumbsup{
	background-position: -4176px 0;
}
.smiley-tired_face{
	background-position: -4200px 0;
}
.smiley-tongue{
	background-position: -4224px 0;
}
.smiley-triumph{
	background-position: -4248px 0;
}
.smiley-trollface{
	background-position: -4272px 0;
}
.smiley-two_hearts{
	background-position: -4296px 0;
}
.smiley-two_men_holding_hands{
	background-position: -4320px 0;
}
.smiley-two_women_holding_hands{
	background-position: -4344px 0;
}
.smiley-unamused{
	background-position: -4368px 0;
}
.smiley-v{
	background-position: -4392px 0;
}
.smiley-wave{
	background-position: -4416px 0;
}
.smiley-weary{
	background-position: -4440px 0;
}
.smiley-wink{
	background-position: -4464px 0;
}
.smiley-woman{
	background-position: -4488px 0;
}
.smiley-worried{
	background-position: -4512px 0;
}
.smiley-yellow_heart{
	background-position: -4536px 0;
}
.smiley-yum{
	background-position: -4560px 0;
}
.smiley-zzz{
	background-position: -4584px 0;
}
