.sprite-objects{
	background-image: url('../images/smiles/objects@1x.png');
	background-size:4464px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-objects{
	background-image: url('../images/smiles/objects@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-objects{
	background-image: url('../images/smiles/objects@3x.png');
}
}
.smiley-alarm_clock{
	background-position: -0px 0;
	width:24px;
	height:24px;
}
.smiley-art{
	background-position: -24px 0;
	width:24px;
	height:24px;
}
.smiley-balloon{
	background-position: -48px 0;
	width:24px;
	height:24px;
}
.smiley-bamboo{
	background-position: -72px 0;
	width:24px;
	height:24px;
}
.smiley-bar_chart{
	background-position: -96px 0;
	width:24px;
	height:24px;
}
.smiley-bath{
	background-position: -120px 0;
	width:24px;
	height:24px;
}
.smiley-bathtub{
	background-position: -144px 0;
	width:24px;
	height:24px;
}
.smiley-battery{
	background-position: -168px 0;
	width:24px;
	height:24px;
}
.smiley-bell{
	background-position: -192px 0;
	width:24px;
	height:24px;
}
.smiley-bikini{
	background-position: -216px 0;
	width:24px;
	height:24px;
}
.smiley-black_joker{
	background-position: -240px 0;
	width:24px;
	height:24px;
}
.smiley-black_nib{
	background-position: -264px 0;
	width:24px;
	height:24px;
}
.smiley-blue_book{
	background-position: -288px 0;
	width:24px;
	height:24px;
}
.smiley-bomb{
	background-position: -312px 0;
	width:24px;
	height:24px;
}
.smiley-book{
	background-position: -336px 0;
	width:24px;
	height:24px;
}
.smiley-bookmark{
	background-position: -360px 0;
	width:24px;
	height:24px;
}
.smiley-bookmark_tabs{
	background-position: -384px 0;
	width:24px;
	height:24px;
}
.smiley-books{
	background-position: -408px 0;
	width:24px;
	height:24px;
}
.smiley-boot{
	background-position: -432px 0;
	width:24px;
	height:24px;
}
.smiley-briefcase{
	background-position: -456px 0;
	width:24px;
	height:24px;
}
.smiley-bulb{
	background-position: -480px 0;
	width:24px;
	height:24px;
}
.smiley-calendar{
	background-position: -504px 0;
	width:24px;
	height:24px;
}
.smiley-calling{
	background-position: -528px 0;
	width:24px;
	height:24px;
}
.smiley-camera{
	background-position: -552px 0;
	width:24px;
	height:24px;
}
.smiley-card_index{
	background-position: -576px 0;
	width:24px;
	height:24px;
}
.smiley-cd{
	background-position: -600px 0;
	width:24px;
	height:24px;
}
.smiley-chart_with_downwards_trend{
	background-position: -624px 0;
	width:24px;
	height:24px;
}
.smiley-chart_with_upwards_trend{
	background-position: -648px 0;
	width:24px;
	height:24px;
}
.smiley-christmas_tree{
	background-position: -672px 0;
	width:24px;
	height:24px;
}
.smiley-clapper{
	background-position: -696px 0;
	width:24px;
	height:24px;
}
.smiley-clipboard{
	background-position: -720px 0;
	width:24px;
	height:24px;
}
.smiley-closed_book{
	background-position: -744px 0;
	width:24px;
	height:24px;
}
.smiley-closed_lock_with_key{
	background-position: -768px 0;
	width:24px;
	height:24px;
}
.smiley-closed_umbrella{
	background-position: -792px 0;
	width:24px;
	height:24px;
}
.smiley-clubs{
	background-position: -816px 0;
	width:24px;
	height:24px;
}
.smiley-computer{
	background-position: -840px 0;
	width:24px;
	height:24px;
}
.smiley-confetti_ball{
	background-position: -864px 0;
	width:24px;
	height:24px;
}
.smiley-credit_card{
	background-position: -888px 0;
	width:24px;
	height:24px;
}
.smiley-crown{
	background-position: -912px 0;
	width:24px;
	height:24px;
}
.smiley-crystal_ball{
	background-position: -936px 0;
	width:24px;
	height:24px;
}
.smiley-dart{
	background-position: -960px 0;
	width:24px;
	height:24px;
}
.smiley-date{
	background-position: -984px 0;
	width:24px;
	height:24px;
}
.smiley-diamonds{
	background-position: -1008px 0;
	width:24px;
	height:24px;
}
.smiley-dollar{
	background-position: -1032px 0;
	width:24px;
	height:24px;
}
.smiley-dolls{
	background-position: -1056px 0;
	width:24px;
	height:24px;
}
.smiley-door{
	background-position: -1080px 0;
	width:24px;
	height:24px;
}
.smiley-dress{
	background-position: -1104px 0;
	width:24px;
	height:24px;
}
.smiley-dvd{
	background-position: -1128px 0;
	width:24px;
	height:24px;
}
.smiley-e-mail{
	background-position: -1152px 0;
	width:24px;
	height:24px;
}
.smiley-electric_plug{
	background-position: -1176px 0;
	width:24px;
	height:24px;
}
.smiley-email{
	background-position: -1200px 0;
	width:24px;
	height:24px;
}
.smiley-envelope{
	background-position: -1224px 0;
	width:24px;
	height:24px;
}
.smiley-euro{
	background-position: -1248px 0;
	width:24px;
	height:24px;
}
.smiley-eyeglasses{
	background-position: -1272px 0;
	width:24px;
	height:24px;
}
.smiley-fax{
	background-position: -1296px 0;
	width:24px;
	height:24px;
}
.smiley-file_folder{
	background-position: -1320px 0;
	width:24px;
	height:24px;
}
.smiley-fireworks{
	background-position: -1344px 0;
	width:24px;
	height:24px;
}
.smiley-fishing_pole_and_fish{
	background-position: -1368px 0;
	width:24px;
	height:24px;
}
.smiley-flags{
	background-position: -1392px 0;
	width:24px;
	height:24px;
}
.smiley-flashlight{
	background-position: -1416px 0;
	width:24px;
	height:24px;
}
.smiley-floppy_disk{
	background-position: -1440px 0;
	width:24px;
	height:24px;
}
.smiley-flower_playing_cards{
	background-position: -1464px 0;
	width:24px;
	height:24px;
}
.smiley-game_die{
	background-position: -1488px 0;
	width:24px;
	height:24px;
}
.smiley-gem{
	background-position: -1512px 0;
	width:24px;
	height:24px;
}
.smiley-ghost{
	background-position: -1536px 0;
	width:24px;
	height:24px;
}
.smiley-gift{
	background-position: -1560px 0;
	width:24px;
	height:24px;
}
.smiley-gift_heart{
	background-position: -1584px 0;
	width:24px;
	height:24px;
}
.smiley-green_book{
	background-position: -1608px 0;
	width:24px;
	height:24px;
}
.smiley-guitar{
	background-position: -1632px 0;
	width:24px;
	height:24px;
}
.smiley-gun{
	background-position: -1656px 0;
	width:24px;
	height:24px;
}
.smiley-hammer{
	background-position: -1680px 0;
	width:24px;
	height:24px;
}
.smiley-handbag{
	background-position: -1704px 0;
	width:24px;
	height:24px;
}
.smiley-headphones{
	background-position: -1728px 0;
	width:24px;
	height:24px;
}
.smiley-hearts{
	background-position: -1752px 0;
	width:24px;
	height:24px;
}
.smiley-high_brightness{
	background-position: -1776px 0;
	width:24px;
	height:24px;
}
.smiley-high_heel{
	background-position: -1800px 0;
	width:24px;
	height:24px;
}
.smiley-hocho{
	background-position: -1824px 0;
	width:24px;
	height:24px;
}
.smiley-hourglass{
	background-position: -1848px 0;
	width:24px;
	height:24px;
}
.smiley-hourglass_flowing_sand{
	background-position: -1872px 0;
	width:24px;
	height:24px;
}
.smiley-icewarp{
	background-position: -1896px 0;
	width:24px;
	height:6px;
}
.smiley-inbox_tray{
	background-position: -1920px 0;
	width:24px;
	height:24px;
}
.smiley-incoming_envelope{
	background-position: -1944px 0;
	width:24px;
	height:24px;
}
.smiley-iphone{
	background-position: -1968px 0;
	width:24px;
	height:24px;
}
.smiley-jack_o_lantern{
	background-position: -1992px 0;
	width:24px;
	height:24px;
}
.smiley-jeans{
	background-position: -2016px 0;
	width:24px;
	height:24px;
}
.smiley-key{
	background-position: -2040px 0;
	width:24px;
	height:24px;
}
.smiley-kimono{
	background-position: -2064px 0;
	width:24px;
	height:24px;
}
.smiley-ledger{
	background-position: -2088px 0;
	width:24px;
	height:24px;
}
.smiley-lipstick{
	background-position: -2112px 0;
	width:24px;
	height:24px;
}
.smiley-lock{
	background-position: -2136px 0;
	width:24px;
	height:24px;
}
.smiley-lock_with_ink_pen{
	background-position: -2160px 0;
	width:24px;
	height:24px;
}
.smiley-loop{
	background-position: -2184px 0;
	width:24px;
	height:24px;
}
.smiley-loudspeaker{
	background-position: -2208px 0;
	width:24px;
	height:24px;
}
.smiley-low_brightness{
	background-position: -2232px 0;
	width:24px;
	height:24px;
}
.smiley-mag{
	background-position: -2256px 0;
	width:24px;
	height:24px;
}
.smiley-mag_right{
	background-position: -2280px 0;
	width:24px;
	height:24px;
}
.smiley-mahjong{
	background-position: -2304px 0;
	width:24px;
	height:24px;
}
.smiley-mailbox{
	background-position: -2328px 0;
	width:24px;
	height:24px;
}
.smiley-mailbox_closed{
	background-position: -2352px 0;
	width:24px;
	height:24px;
}
.smiley-mailbox_with_mail{
	background-position: -2376px 0;
	width:24px;
	height:24px;
}
.smiley-mailbox_with_no_mail{
	background-position: -2400px 0;
	width:24px;
	height:24px;
}
.smiley-mans_shoe{
	background-position: -2424px 0;
	width:24px;
	height:24px;
}
.smiley-mega{
	background-position: -2448px 0;
	width:24px;
	height:24px;
}
.smiley-memo{
	background-position: -2472px 0;
	width:24px;
	height:24px;
}
.smiley-microphone{
	background-position: -2496px 0;
	width:24px;
	height:24px;
}
.smiley-microscope{
	background-position: -2520px 0;
	width:24px;
	height:24px;
}
.smiley-minidisc{
	background-position: -2544px 0;
	width:24px;
	height:24px;
}
.smiley-moneybag{
	background-position: -2568px 0;
	width:24px;
	height:24px;
}
.smiley-money_with_wings{
	background-position: -2592px 0;
	width:24px;
	height:24px;
}
.smiley-mortar_board{
	background-position: -2616px 0;
	width:24px;
	height:24px;
}
.smiley-movie_camera{
	background-position: -2640px 0;
	width:24px;
	height:24px;
}
.smiley-musical_keyboard{
	background-position: -2664px 0;
	width:24px;
	height:24px;
}
.smiley-musical_score{
	background-position: -2688px 0;
	width:24px;
	height:24px;
}
.smiley-mute{
	background-position: -2712px 0;
	width:24px;
	height:24px;
}
.smiley-name_badge{
	background-position: -2736px 0;
	width:24px;
	height:24px;
}
.smiley-necktie{
	background-position: -2760px 0;
	width:24px;
	height:24px;
}
.smiley-newspaper{
	background-position: -2784px 0;
	width:24px;
	height:24px;
}
.smiley-notebook{
	background-position: -2808px 0;
	width:24px;
	height:24px;
}
.smiley-notebook_with_decorative_cover{
	background-position: -2832px 0;
	width:24px;
	height:24px;
}
.smiley-no_bell{
	background-position: -2856px 0;
	width:24px;
	height:24px;
}
.smiley-nut_and_bolt{
	background-position: -2880px 0;
	width:24px;
	height:24px;
}
.smiley-open_file_folder{
	background-position: -2904px 0;
	width:24px;
	height:24px;
}
.smiley-orange_book{
	background-position: -2928px 0;
	width:24px;
	height:24px;
}
.smiley-outbox_tray{
	background-position: -2952px 0;
	width:24px;
	height:24px;
}
.smiley-package{
	background-position: -2976px 0;
	width:24px;
	height:24px;
}
.smiley-pager{
	background-position: -3000px 0;
	width:24px;
	height:24px;
}
.smiley-page_facing_up{
	background-position: -3024px 0;
	width:24px;
	height:24px;
}
.smiley-page_with_curl{
	background-position: -3048px 0;
	width:24px;
	height:24px;
}
.smiley-paperclip{
	background-position: -3072px 0;
	width:24px;
	height:24px;
}
.smiley-pencil{
	background-position: -3096px 0;
	width:24px;
	height:24px;
}
.smiley-pencil2{
	background-position: -3120px 0;
	width:24px;
	height:24px;
}
.smiley-phone{
	background-position: -3144px 0;
	width:24px;
	height:24px;
}
.smiley-pill{
	background-position: -3168px 0;
	width:24px;
	height:24px;
}
.smiley-postal_horn{
	background-position: -3192px 0;
	width:24px;
	height:24px;
}
.smiley-postbox{
	background-position: -3216px 0;
	width:24px;
	height:24px;
}
.smiley-pouch{
	background-position: -3240px 0;
	width:24px;
	height:24px;
}
.smiley-pound{
	background-position: -3264px 0;
	width:24px;
	height:24px;
}
.smiley-purse{
	background-position: -3288px 0;
	width:24px;
	height:24px;
}
.smiley-pushpin{
	background-position: -3312px 0;
	width:24px;
	height:24px;
}
.smiley-radio{
	background-position: -3336px 0;
	width:24px;
	height:24px;
}
.smiley-ribbon{
	background-position: -3360px 0;
	width:24px;
	height:24px;
}
.smiley-rice_scene{
	background-position: -3384px 0;
	width:24px;
	height:24px;
}
.smiley-ring{
	background-position: -3408px 0;
	width:24px;
	height:24px;
}
.smiley-running_shirt_with_sash{
	background-position: -3432px 0;
	width:24px;
	height:24px;
}
.smiley-sandal{
	background-position: -3456px 0;
	width:24px;
	height:24px;
}
.smiley-santa{
	background-position: -3480px 0;
	width:24px;
	height:24px;
}
.smiley-satellite{
	background-position: -3504px 0;
	width:24px;
	height:24px;
}
.smiley-saxophone{
	background-position: -3528px 0;
	width:24px;
	height:24px;
}
.smiley-school_satchel{
	background-position: -3552px 0;
	width:24px;
	height:24px;
}
.smiley-scissors{
	background-position: -3576px 0;
	width:24px;
	height:24px;
}
.smiley-scroll{
	background-position: -3600px 0;
	width:24px;
	height:24px;
}
.smiley-seat{
	background-position: -3624px 0;
	width:24px;
	height:24px;
}
.smiley-shirt{
	background-position: -3648px 0;
	width:24px;
	height:24px;
}
.smiley-shoe{
	background-position: -3672px 0;
	width:24px;
	height:24px;
}
.smiley-shower{
	background-position: -3696px 0;
	width:24px;
	height:24px;
}
.smiley-smoking{
	background-position: -3720px 0;
	width:24px;
	height:24px;
}
.smiley-sound{
	background-position: -3744px 0;
	width:24px;
	height:24px;
}
.smiley-space_invader{
	background-position: -3768px 0;
	width:24px;
	height:24px;
}
.smiley-spades{
	background-position: -3792px 0;
	width:24px;
	height:24px;
}
.smiley-sparkler{
	background-position: -3816px 0;
	width:24px;
	height:24px;
}
.smiley-speaker{
	background-position: -3840px 0;
	width:24px;
	height:24px;
}
.smiley-straight_ruler{
	background-position: -3864px 0;
	width:24px;
	height:24px;
}
.smiley-syringe{
	background-position: -3888px 0;
	width:24px;
	height:24px;
}
.smiley-tada{
	background-position: -3912px 0;
	width:24px;
	height:24px;
}
.smiley-tanabata_tree{
	background-position: -3936px 0;
	width:24px;
	height:24px;
}
.smiley-telephone{
	background-position: -3960px 0;
	width:24px;
	height:24px;
}
.smiley-telephone_receiver{
	background-position: -3984px 0;
	width:24px;
	height:24px;
}
.smiley-telescope{
	background-position: -4008px 0;
	width:24px;
	height:24px;
}
.smiley-toilet{
	background-position: -4032px 0;
	width:24px;
	height:24px;
}
.smiley-tophat{
	background-position: -4056px 0;
	width:24px;
	height:24px;
}
.smiley-triangular_ruler{
	background-position: -4080px 0;
	width:24px;
	height:24px;
}
.smiley-trophy{
	background-position: -4104px 0;
	width:24px;
	height:24px;
}
.smiley-trumpet{
	background-position: -4128px 0;
	width:24px;
	height:24px;
}
.smiley-tshirt{
	background-position: -4152px 0;
	width:24px;
	height:24px;
}
.smiley-tv{
	background-position: -4176px 0;
	width:24px;
	height:24px;
}
.smiley-unlock{
	background-position: -4200px 0;
	width:24px;
	height:24px;
}
.smiley-vhs{
	background-position: -4224px 0;
	width:24px;
	height:24px;
}
.smiley-video_camera{
	background-position: -4248px 0;
	width:24px;
	height:24px;
}
.smiley-video_game{
	background-position: -4272px 0;
	width:24px;
	height:24px;
}
.smiley-violin{
	background-position: -4296px 0;
	width:24px;
	height:24px;
}
.smiley-watch{
	background-position: -4320px 0;
	width:24px;
	height:24px;
}
.smiley-wind_chime{
	background-position: -4344px 0;
	width:24px;
	height:24px;
}
.smiley-womans_clothes{
	background-position: -4368px 0;
	width:24px;
	height:24px;
}
.smiley-womans_hat{
	background-position: -4392px 0;
	width:24px;
	height:24px;
}
.smiley-wrench{
	background-position: -4416px 0;
	width:24px;
	height:24px;
}
.smiley-yen{
	background-position: -4440px 0;
	width:24px;
	height:24px;
}
