.sprite-activity{
	background-image: url('../images/smiles/activity@1x.png');
	background-size:384px;
	width:24px;
	height:24px;
}
@media (-webkit-min-device-pixel-ratio: 1.01), (min-resolution: 1.01dppx) {
.sprite-activity{
	background-image: url('../images/smiles/activity@2x.png');
}
}
@media (-webkit-min-device-pixel-ratio: 2.01), (min-resolution: 2.01dppx) {
.sprite-activity{
	background-image: url('../images/smiles/activity@3x.png');
}
}
.smiley-8ball{
	background-position: -0px 0;
}
.smiley-baseball{
	background-position: -24px 0;
}
.smiley-basketball{
	background-position: -48px 0;
}
.smiley-bicyclist{
	background-position: -72px 0;
}
.smiley-bowling{
	background-position: -96px 0;
}
.smiley-football{
	background-position: -120px 0;
}
.smiley-golf{
	background-position: -144px 0;
}
.smiley-horse_racing{
	background-position: -168px 0;
}
.smiley-mountain_bicyclist{
	background-position: -192px 0;
}
.smiley-rugby_football{
	background-position: -216px 0;
}
.smiley-ski{
	background-position: -240px 0;
}
.smiley-snowboarder{
	background-position: -264px 0;
}
.smiley-soccer{
	background-position: -288px 0;
}
.smiley-surfer{
	background-position: -312px 0;
}
.smiley-swimmer{
	background-position: -336px 0;
}
.smiley-tennis{
	background-position: -360px 0;
}
