* text=auto !eol
_project/activesync/.project -text
_project/activesync/.projectOptions -text
_project/activesync/guard.xml -text
_project/build_releasenotes.bat -text
_project/footer_releasenotes.txt -text
_project/header_releasenotes.txt -text
_project/make_export.bat -text
_project/releasenotes.txt -text
inc/async.php -text
inc/converter.php -text
inc/database.php -text
inc/datastore.php -text
inc/dtd.php -text
inc/function.php -text
inc/mail.php -text
inc/mimedecode.php -text
inc/provision.php -text
inc/server.php -text
inc/settings.php -text
inc/wbxml.php -text
inc/xml.php -text
/index.html -text
