.obj_connection {
display: none;
position: absolute;
z-index: 1;
width: 100%; }
		

		

		

		

		

		

		

		

		

		

		

		

		

		

		

		

		
.obj_fulltext_search .hidden {
display: none; }
		
.obj_fulltext_search_wizard {
margin: 0 1rem; }
.obj_fulltext_search_wizard .hidden {
display: none; }
.obj_fulltext_search_wizard .steps {
margin-bottom: 2rem; }
.obj_fulltext_search_wizard [iw-flex-grid] {
margin: 0; }
.obj_fulltext_search_wizard [iw-flex-cell] {
margin: 0;
padding: 0; }
.obj_fulltext_search_wizard [iw-flex-cell] > div {
width: 100%; }
.obj_fulltext_search_wizard .pad {
padding-left: 2rem; }
.obj_fulltext_search_wizard .form__block ul {
margin-left: 1rem;
margin-bottom: 1rem; }
.obj_fulltext_search_wizard .form__block ul li {
margin: initial;
padding: initial;
list-style-type: disc; }
		

		

		

		

		

		

		

		
.obj_oauth {
height: 100%; }
.obj_oauth .table-wrap {
height: 100%; }
.obj_oauth_wizard .form__block {
padding-bottom: 0;
margin-bottom: 0; }
		

		

		

		

		

		

		

		

		

		

		

		

		

		

		

		

		

		

		
