div.event_form{
	padding: 10px;
	background-color: #F8E8CC;
}

.gridDetail th
{
	font-weight: normal;
	text-align: left;
	padding-right: 10px;
	white-space: nowrap;
}

.gridDetail input
{
	border:#aaa 1px solid;
	width:200px;
}

.gridDetail input:focus
{
	border:#333 1px solid;
}

.gridDetail input.wsto
{
	width:100%;
}

.gridDetail textarea
{
	height:150px;
}

.into-bottom-line
{
	padding-top:13px;
	.padding-top:10px;
}

.w2
{
	width:200px;
}

.gridDetail input.wn
{
	width:auto;
}

.calendar_click
{
	width:16px;
	height:16px;
	background-image: url('../../basic/skin/basic/images/calendar_click.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}

.help
{
	color:#888;
	font-weight:normal;
	font-size:12px;
	font-style: italic;
}