.shortText
{
	width:30px;
}

.iconBox
{
	width:26px;
	text-align: center;
}

.recent
{
	font-weight:bold;
}

.icon
{
	background:transparent url('../../basic/skin/basic/css/images/flags/obj_context_item_default.gif') no-repeat scroll center center;
	height:16px;
	width:13px;
}

.recent .icon
{
	background:transparent url('../../basic/skin/basic/css/images/flags/ico_unread.gif') no-repeat scroll center center;
	height:16px;
	width:13px;
}

th.mailStatusHead
{
	padding:1px 0px 0px 0px;
}

.mailStatusHead div
{
	background:transparent url('../../basic/skin/basic/images/grid/ico_flag_top.gif') no-repeat scroll center center;
	height:16px;
}

.dg_small{
	font-size:0.6em;
	color:#333;
}

.flags
{
	cursor: pointer;
}

.flags div
{
	width:15px;
	height:15px;
}

.flagZ{
	background-image: url('../../basic/skin/basic/images/obj_context_item_default.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flag1{
	background-image: url('../../basic/skin/basic/images/obj_context_item_red.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flag2{
	background-image: url('../../basic/skin/basic/images/obj_context_item_blue.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flag3{
	background-image: url('../../basic/skin/basic/images/obj_context_item_green.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flag5{
	background-image: url('../../basic/skin/basic/images/obj_context_item_brown.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flag8{
	background-image: url('../../basic/skin/basic/images/obj_context_item_purple.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flagA{
	background-image: url('../../basic/skin/basic/images/obj_context_item_yellow.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.flagY{
	background-image: url('../../basic/skin/basic/images/obj_context_item_complete.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.topFix7
{
	position: relative; top:7px;
}