.commandLine
{
	padding-top:12px;
}

div.contact_form{
	padding: 10px;
	background-color: #E2F4D0;
}

.c_card
{
	border:#888 1px solid;
	float:left;
	width:235px;
	.width:230px;
	height:112px;
	margin:5px;
	background-color:#fff;
	overflow:hidden;
}

.c_
{
	background-image:url(../../basic/skin/basic/css/images/contacts/all.gif);
}
.c_personal
{
	background-image:url(../../basic/skin/basic/css/images/contacts/personal.gif);
}
.c_vip
{
	background-image:url(../../basic/skin/basic/css/images/contacts/vip.gif);
}
.c_business
{
	background-image:url(../../basic/skin/basic/css/images/contacts/business.gif);
}

.c_inImg
{
	display:block;
	width:60px;
	height:90px;
	background-color:#ccc;
	float:left;
	margin:10px 0px 0px 10px;
	_margin:10px 0px 0px 5px;
	border:#888 1px solid;
	background-image:url(../../basic/skin/basic/css/images/contacts/dummy.gif);
}

.c_textBox
{
	/*padding-left:80px;*/
	padding:4px;
}

.c_inDel
{
	float:right;
	display:block;
	width:14px;
	height:14px;
	background-image:url(../../basic/skin/basic/css/images/contacts/delete.gif);
	background-repeat: no-repeat;
}

.c_inIdetity a
{
	font-family:Arial,sans-serif;
	font-weight:bold;
	color:#000;
	text-decoration:underline;
}

.c_inIdetity a:hover
{
	color:#555;
}

.c_inMail a
{
	font-family:Times,sans-serif;
	font-weight:normal;
	color:#555;
	text-decoration:none;
}

.c_inMail a:hover
{
	color:#888;
}

.c_inJob
{
	padding-top:10px;

}

.c_inCompany
{
	font-family:Arial,sans-serif;
	font-weight:bold;
	color:#333;
}

.c_inTitle
{
	font-family:Arial,sans-serif;
	font-weight:normal;
	color:#555;
}

.left
{
	float:left;
}

.gridDetail th
{
	font-weight: normal;
	text-align: left;
	padding-right: 10px;
	white-space: nowrap;
}

.gridDetail input
{
	border:#aaa 1px solid;
	width:200px;
}

.gridDetail input:focus
{
	border:#333 1px solid;
}

.gridDetail input.wsto
{
	width:100%;
}

.gridDetail textarea
{
	height:150px;
}

.into-bottom-line
{
	padding-top:13px;
	.padding-top:10px;
}

.tasks_form
{
	background-color: #e9f5f5;
	padding:10px;
}

#endTimeCheckbox,#startTimeCheckbox

{
	width:auto;
}

td.tdSizeMedium,th.tdSizeMedium
{
	width:150px;
}

td.tdSizeSmall,th.tdSizeSmall
{
	width:100px;
}

.tGrid
{
	table-layout: fixed;
}

.tGrid .oFlowController
{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
}

.tGrid .oFlowA
{
	display:block;
	white-space:nowrap;
}