.ico_jpg,.ico_jpeg,.ico_tif,.ico_bmp
{
	background-image: url('../../basic/skin/fresh/images/silk/photo2.png') !important;
}
.ico_png,.ico_ico
{
	background-image: url('../../basic/skin/fresh/images/silk/png.png') !important;
}
.ico_gif,.ico_svg
{
	background-image: url('../../basic/skin/fresh/images/silk/image_vector.png') !important;
}
.ico_psd
{
	background-image: url('../../basic/skin/fresh/images/silk/photoshop.png') !important;
}
.ico_doc,.ico_docx,.ico_dotx
{
	background-image: url('../../basic/skin/fresh/images/silk/page_word.png') !important;
}
.ico_txt,.ico_css
{
	background-image: url('../../basic/skin/fresh/images/silk/page_white_text.png') !important;
}
.ico_xml,.ico_tpl
{
	background-image: url('../../basic/skin/fresh/images/silk/page_white_code.png') !important;
}
.ico_exe
{
	background-image: url('../../basic/skin/fresh/images/silk/application.png') !important;
}
.ico_bat,.ico_com
{
	background-image: url('../../basic/skin/fresh/images/silk/application_xp_terminal.png') !important;
}
.ico_odt,.ico_ott,.ico_dot,.ico_uot
{
	background-image: url('../../basic/skin/fresh/images/silk/oo_doc.png') !important;
}
.ico_ods,.ico_ots,.ico_sxt
{
	background-image: url('../../basic/skin/fresh/images/silk/oo_calc.png') !important;
}
.ico_xls,.ico_xlsx,.ico_csv,.ico_xlt,.ico_xlm
{
	background-image: url('../../basic/skin/fresh/images/silk/page_excel.png') !important;
}
.ico_pdf
{
	background-image: url('../../basic/skin/fresh/images/silk/page_white_acrobat.png') !important;
}
.ico_html,.ico_htm
{
	background-image: url('../../basic/skin/fresh/images/silk/html.png') !important;
}
.ico_php
{
	background-image: url('../../basic/skin/fresh/images/silk/page_white_php.png') !important;
}
.ico_msg,.ico_pop3,.ico_imap
{
	background-image: url('../../basic/skin/fresh/images/icons/mail_2.gif') !important;
}
.ico_ppt,.ico_pptx,.ico_pps,.ico_ppsx,.ico_vsd
{
	background-image: url('../../basic/skin/fresh/images/silk/page_white_powerpoint.png') !important;
}
.ico_zip,.ico_rar,.ico_arj,.ico_lha,.ico_7z,.ico_gz,.ico_ace,.ico_tgz
{
	background-image: url('../../basic/skin/fresh/images/silk/compress.png') !important;
}
.ico_tar
{
	background-image: url('../../basic/skin/fresh/images/silk/package.png') !important;
}
.ico_vcf
{
	background-image: url('../../basic/skin/fresh/images/silk/user_suit.png') !important;
}
.ico_calendar,.ico_ics
{
	background-image: url('../../basic/skin/fresh/images/silk/calendar.png') !important;
}
.ico_apk
{
	background-image: url('../../basic/skin/fresh/images/silk/android.png') !important;
}
.ico_avi,.ico_wmv,.ico_mkv,.ico_3gp,.ico_mpg,.ico_mpeg,.ico_mp4,.ico_mov
{
	background-image: url('../../basic/skin/fresh/images/silk/film.png') !important;
}
.ico_mp3,.ico_wma,.ico_mid,.ico_mpa,.ico_wav,.ico_ogg,.ico_ac3
{
	background-image: url('../../basic/skin/fresh/images/silk/music.png') !important;
}
.ico_js
{
	background-image: url('../../basic/skin/fresh/images/silk/script.png') !important;
}
.ico_swf,.ico_fla
{
	background-image: url('../../basic/skin/fresh/images/silk/page_white_flash.png') !important;
}
.ico_pif,.ico_lnk
{
	background-image: url('../../basic/skin/fresh/images/silk/application_link.png') !important;
}
.ico_xcf
{
	background-image: url('../../basic/skin/fresh/images/silk/gimp.png') !important;
}
/**/