/*
.fieldBox .active
{
	background-color: #64c6ff;
}

.pressed
{
	background-color:#ffbd83;
}
*/

/******************************************************************************
** STRUCTURE OF DYNAMICALLY CREATED ELEMENTS
*******************************************************************************
**
** <div id="ORIGINAL_IDwysiwygContainer" class="wysiwygContainer">
**     <ul id="ORIGINAL_IDwysiwygToolbar" class="wysiwygToolbar">
**         <li id="BUTTON_ID" class="wysiwygEditButton">
**             <a></a>
**         </li>
**         <li class="wysiwygEditSelect">
**             <select>
**             </select>
**         </li>
**     </ul>
**     <iframe id="ORIGINAL_IDwysiwygIframe" class="wysiwygIframe">
**     </iframe>
**     <textarea id="ORIGINAL_IDwysiwygTextarea" class="wysiwygEditor">
**     </textarea>
** </div>
*/

/* TOOLBAR BUTTONS */

.wysiwygToolbar a
{
	display: block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	background-repeat: no-repeat;
	text-indent: -1000em;
	text-decoration: none;
}

.wysiwygToolbar a:hover
{
	/*background-position: 0 -20px;*/
	background-color:#ccc;
}

.wysiwygToolbar li:hover,.wysiwygToolbar li.on
{
	border: 1px solid #C1C1C1;
}

.wysiwygToolbar a:active,
.wysiwygToolbar li.on a,
.wysiwygToolbar li.on a:hover{
	/*background-position: 0 -40px;*/
	background-color:#ccc;
}
	.wysiwygToolbar li.wysiwygEditSelect:hover,.wysiwygToolbar li.on.wysiwygEditSelect
	{
		border:none;
	}

.wysiwygEditSelect select
{
	padding:0px;
	height:21px;
}

.wysiwygToolbar li.wysiwygEditButton
{
	/*
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_shadow.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	*/
	border: 1px solid #D2D2D2;
	border-radius: 3px 3px 3px 3px;
	background-color: #DEDEDE;
}

.wysiwygButtonBold
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_bold.png);
}

.wysiwygButtonHTML
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_html.jpg);
}

.wysiwygButtonImage 
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_image.png);
}

.wysiwygButtonItalic 
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_italic.png);
}

.wysiwygButtonUnderline 
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_underline.png);
}

.wysiwygButtonLeft 
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_left.png);
}

.wysiwygButtonRight 
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_right.png);
}

.wysiwygButtonCenter
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_center.png);
}

.wysiwygButtonJustify
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_justify.png);
}

.wysiwygButtonLink
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_link.png);
}

.wysiwygButtonIndent
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_indent.png);
}

.wysiwygButtonOutdent
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_outdent.png);
}

.wysiwygButtonOrdered
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_ordered.png);
}

.wysiwygButtonUnordered
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_unordered.png);
}

.wysiwygSource a
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_empty.jpg);
	/*cursor: default;*/
}

.wysiwygSource li.on a,
.wysiwygSource li.on a:hover
{
	background-position: 0 0;
}

.wysiwygSource .wysiwygButtonHTML
{
	background-image: url(../../basic/skin/fresh/images/wysiwyg/wysiwygeditor_button_html.jpg);
}

.wysiwygSource .wysiwygButtonHTML
{
	cursor: pointer;
}


/* TOOLBAR */

.wysiwygToolbar
{
	list-style: none;
	width: 100%;
	padding: 0 2px;
	top: 0;
	box-sizing: border-box;
}

.wysiwygToolbar li
{
	display: inline;
	float: left;
	height: 21px;
	margin-top: 3px;
	margin-left: 2px;
	line-height: 20px;
}
.wysiwygToolbar li.on
{
	background-image: none;
}

/* EDITING AREA */
.wysiwygIframe
{
	width: 100%;
	height: 355px;
	.height: 400px;
	clear: both;
	margin-top: 7px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}

textarea.wysiwygEditor,
.wysiwygContainer textarea.wysiwygEditor
{
	width: 100%;
	padding: 8px 10px;
}

/* EDITOR CONTAINER */
.wysiwygContainer
{
	position: relative;
	width:100%;
	height: 400px;
}

.wysiwygContainer iframe body
{
	width:100%;
}

/****************************/

#wysiwygToolbarButtonHTML
{
	display:none;
}

#wysiwygToolbar
{
	border:none;
	/*border:#000 1px solid;*/
}

.wysiwygSource, .hidden
{
	display:none;
}