body, pre, textarea, input{
	font-size: 16px;
}

/** input **/
form.obj_input_small > input.obj_input {
    width: 60px;
}

.obj_input_calendar input.obj_input {
    width: 115px !important;
}

#gui .obj_calendar > div {
    font-size: 13px;
}
.obj_groupchat_item.com .comment p{
	font-style: normal!important;
}
/*

body div.obj_hmenu,
body .obj_datagrid,
body div.obj_barmenu_cell a.bar_cell_title,
body .obj_tabs .obj_tabsheader li a,body .obj_tabs .obj_tabsheader li.active a,body .obj_tabs .obj_tabsheader li.active a:hover,
body div.obj_hmenu_plus,
body .obj_mailview th,
body div.obj_popup .obj_popupheader .obj_popuptitle
{
	font-size:16px!important;
}

body div.obj_hmenu_plus a
{
	width:200px!important;
}

body div.obj_popup .obj_popupheader .obj_popuptitle
{
	margin:1px 0 0 25px!important;
}

body .obj_datagrid .obj_datagrid-head .col div {
	line-height: 18px!important;
}

div.obj_tree ul.fTree li b, div.obj_tree ul.fTree li span.inactive
{
	padding: 0 3px !important;
}

div.obj_barmenu_filter div.row, div.obj_barmenu_filter a {
	font-size: 16px!important;
}

.obj_evnview .obj_evnview_header .obj_evnview_table div.obj_evnviewday {
	font-size: 16px!important;
}

div.obj_barmenu div.obj_barmenu_cell_title a.bar_cell_title {
	font-size: 16px!important;
}

div.frm_main_calendar .frm_main_calendarbtn .obj_button input.obj_button {
	padding: 0 2px 2px 0px!important;
}

div.obj_hmenu_plus a {
	text-indent: 5px!important;
}

.obj_im {
	font-size: 14px!important;
}

div.obj_hmenu_im_plus a.menuitem
{
	text-indent: 22px!important;
}
*/